In [31]:
import pandas as pd
import re
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import StandardScaler,OneHotEncoder, MinMaxScaler
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt

In [2]:
airbnb_df = pd.read_csv('Chicago_Airbnb_Listing_Dataset.csv')
airbnb_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,Hyde Park,41.78790,-87.58780,Private room,1,1 shared bath,1.0,1.0,$95.00,3,89,3,3,1125,1125,3.0,1125.0
1,7126,West Town,41.90166,-87.68021,Entire home/apt,2,1 bath,1.0,1.0,$65.00,2,60,2,2,1125,1125,2.0,1125.0
2,10945,Lincoln Park,41.91196,-87.63981,Entire home/apt,4,1 bath,2.0,2.0,$127.00,4,180,4,4,180,180,4.0,180.0
3,12140,Lincoln Park,41.92357,-87.64947,Private room,2,1 private bath,1.0,2.0,$329.00,2,7,2,2,7,7,2.0,7.0
4,22362,West Town,41.89730,-87.65889,Entire home/apt,4,2 baths,2.0,2.0,$105.00,121,1125,121,121,1125,1125,121.0,1125.0

In [3]:
airbnb_df['price'] = airbnb_df['price'].str.replace('$', '')
airbnb_df['price'] = airbnb_df['price'].str.replace(',', '').astype(float)

C:\Users\Rus\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [4]:
airbnb_df.drop(airbnb_df[airbnb_df.price > 1000].index, inplace=True)

In [5]:
airbnb_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,Hyde Park,41.78790,-87.58780,Private room,1,1 shared bath,1.0,1.0,95.0,3,89,3,3,1125,1125,3.0,1125.0
1,7126,West Town,41.90166,-87.68021,Entire home/apt,2,1 bath,1.0,1.0,65.0,2,60,2,2,1125,1125,2.0,1125.0
2,10945,Lincoln Park,41.91196,-87.63981,Entire home/apt,4,1 bath,2.0,2.0,127.0,4,180,4,4,180,180,4.0,180.0
3,12140,Lincoln Park,41.92357,-87.64947,Private room,2,1 private bath,1.0,2.0,329.0,2,7,2,2,7,7,2.0,7.0
4,22362,West Town,41.89730,-87.65889,Entire home/apt,4,2 baths,2.0,2.0,105.0,121,1125,121,121,1125,1125,121.0,1125.0

In [6]:
neighbourhoods = airbnb_df['neighbourhood_cleansed'].value_counts()
neighbourhoods

Near North Side    749
West Town          676
Lake View          553
Near West Side     402
Logan Square       391
                  ...
Edison Park          1
Avalon Park          1
Burnside             1
Gage Park            1
West Elsdon          1
Name: neighbourhood_cleansed, Length: 76, dtype: int64

In [7]:
neighbourhood_list = neighbourhoods.index
neighbourhood_list
neighbourhood_num = np.arange(len(neighbourhood_list))

In [8]:
neighborhood_dict = dict(zip(neighbourhood_list,neighbourhood_num))
neighborhood_dict

{'Near North Side': 0,
 'West Town': 1,
 'Lake View': 2,
 'Near West Side': 3,
 'Logan Square': 4,
 'Loop': 5,
 'Lincoln Park': 6,
 'Uptown': 7,
 'Near South Side': 8,
 'Lower West Side': 9,
 'Irving Park': 10,
 'Edgewater': 11,
 'Bridgeport': 12,
 'Avondale': 13,
 'Rogers Park': 14,
 'North Center': 15,
 'East Garfield Park': 16,
 'Grand Boulevard': 17,
 'Hyde Park': 18,
 'Lincoln Square': 19,
 'South Shore': 20,
 'Humboldt Park': 21,
 'West Ridge': 22,
 'Woodlawn': 23,
 'Portage Park': 24,
 'Douglas': 25,
 'Albany Park': 26,
 'Kenwood': 27,
 'Armour Square': 28,
 'Austin': 29,
 'Greater Grand Crossing': 30,
 'South Lawndale': 31,
 'Jefferson Park': 32,
 'Washington Park': 33,
 'North Lawndale': 34,
 'Mckinley Park': 35,
 'Norwood Park': 36,
 'Dunning': 37,
 'Calumet Heights': 38,
 'South Chicago': 39,
 'West Garfield Park': 40,
 'Belmont Cragin': 41,
 'Brighton Park': 42,
 'North Park': 43,
 'Hermosa': 44,
 'Englewood': 45,
 'New City': 46,
 'Oakland': 47,
 'Garfield Ridge': 48,
 'Chatham': 49,
 'Auburn Gresham': 50,
 'Ohare': 51,
 'Ashburn': 52,
 'Pullman': 53,
 'East Side': 54,
 'Forest Glen': 55,
 'Washington Heights': 56,
 'Roseland': 57,
 'West Englewood': 58,
 'Beverly': 59,
 'Morgan Park': 60,
 'West Lawn': 61,
 'Chicago Lawn': 62,
 'Montclare': 63,
 'West Pullman': 64,
 'Archer Heights': 65,
 'Mount Greenwood': 66,
 'Clearing': 67,
 'Hegewisch': 68,
 'Fuller Park': 69,
 'South Deering': 70,
 'Edison Park': 71,
 'Avalon Park': 72,
 'Burnside': 73,
 'Gage Park': 74,
 'West Elsdon': 75}

In [9]:
airbnb_df['neighbourhood_cleansed'] = airbnb_df['neighbourhood_cleansed'].apply(lambda x:neighborhood_dict[x])
airbnb_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,18,41.78790,-87.58780,Private room,1,1 shared bath,1.0,1.0,95.0,3,89,3,3,1125,1125,3.0,1125.0
1,7126,1,41.90166,-87.68021,Entire home/apt,2,1 bath,1.0,1.0,65.0,2,60,2,2,1125,1125,2.0,1125.0
2,10945,6,41.91196,-87.63981,Entire home/apt,4,1 bath,2.0,2.0,127.0,4,180,4,4,180,180,4.0,180.0
3,12140,6,41.92357,-87.64947,Private room,2,1 private bath,1.0,2.0,329.0,2,7,2,2,7,7,2.0,7.0
4,22362,1,41.89730,-87.65889,Entire home/apt,4,2 baths,2.0,2.0,105.0,121,1125,121,121,1125,1125,121.0,1125.0

In [10]:
# airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].str.replace(' shared bath', '')
airbnb_df['bathrooms_text'].value_counts()

1 bath               3296
2 baths               968
1 shared bath         738
1 private bath        451
2 shared baths        202
1.5 baths             187
2.5 baths             157
1.5 shared baths      108
3 baths               108
3.5 baths              66
4 baths                36
3 shared baths         33
2.5 shared baths       32
4 shared baths         19
4.5 baths              15
0 shared baths          9
0 baths                 5
6 baths                 5
11 shared baths         4
5 baths                 4
Private half-bath       3
Shared half-bath        3
7 baths                 2
Half-bath               2
11.5 shared baths       1
6.5 baths               1
8 shared baths          1
12.5 baths              1
Name: bathrooms_text, dtype: int64

In [11]:
airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].str.replace('-bath', '0.5')
airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].str.extract('(\d*\.\d+|\d+)', expand=False)

In [12]:
airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].astype(float)
airbnb_df = airbnb_df.dropna()

In [13]:
working_df = pd.get_dummies(airbnb_df)
working_df

,id,neighbourhood_cleansed,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,...,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,2384,18,41.787900,-87.587800,1,1.0,1.0,1.0,95.0,3,...,3,3,1125,1125,3.0,1125.0,0,0,1,0
1,7126,1,41.901660,-87.680210,2,1.0,1.0,1.0,65.0,2,...,2,2,1125,1125,2.0,1125.0,1,0,0,0
2,10945,6,41.911960,-87.639810,4,1.0,2.0,2.0,127.0,4,...,4,4,180,180,4.0,180.0,1,0,0,0
3,12140,6,41.923570,-87.649470,2,1.0,1.0,2.0,329.0,2,...,2,2,7,7,2.0,7.0,0,0,1,0
4,22362,1,41.897300,-87.658890,4,2.0,2.0,2.0,105.0,121,...,121,121,1125,1125,121.0,1125.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6539,53812963,1,41.913940,-87.672440,2,1.0,1.0,1.0,53.0,32,...,32,32,1125,1125,32.0,1125.0,1,0,0,0
6540,53816167,1,41.907590,-87.688860,6,1.0,3.0,3.0,105.0,2,...,2,2,365,365,2.0,365.0,1,0,0,0
6541,53820517,2,41.933915,-87.639459,6,2.0,2.0,2.0,150.0,3,...,3,3,1125,1125,3.0,1125.0,1,0,0,0
6542,53820855,2,41.935920,-87.640590,6,2.0,2.0,2.0,150.0,32,...,32,32,1125,1125,32.0,1125.0,1,0,0,0
6543,53826192,0,41.896984,-87.628086,4,1.0,1.0,2.0,120.0,1,...,2,2,1125,1125,2.0,1125.0,1,0,0,0

In [14]:
X = working_df.drop('price', axis=1)
y = working_df['price']
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5739 entries, 0 to 6543
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5739 non-null   int64
 1   neighbourhood_cleansed     5739 non-null   int32
 2   latitude                   5739 non-null   float64
 3   longitude                  5739 non-null   float64
 4   accommodates               5739 non-null   int64
 5   bathrooms_text             5739 non-null   float64
 6   bedrooms                   5739 non-null   float64
 7   beds                       5739 non-null   float64
 8   minimum_nights             5739 non-null   int64
 9   maximum_nights             5739 non-null   int64
 10  minimum_minimum_nights     5739 non-null   int64
 11  maximum_minimum_nights     5739 non-null   int64
 12  minimum_maximum_nights     5739 non-null   int64
 13  maximum_maximum_nights     5739 non-null   int64
 14  minimum_nights_avg_ntm     5739 non-null   float64
 15  maximum_nights_avg_ntm     5739 non-null   float64
 16  room_type_Entire home/apt  5739 non-null   uint8
 17  room_type_Hotel room       5739 non-null   uint8
 18  room_type_Private room     5739 non-null   uint8
 19  room_type_Shared room      5739 non-null   uint8
dtypes: float64(7), int32(1), int64(8), uint8(4)
memory usage: 762.2 KB

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [34]:
model = RandomForestRegressor(random_state=42, n_estimators=100, max_depth=3)

In [36]:
# Fit the model on training data
model.fit(X_train_scaled, y_train)
        
# Predict results
y_test_preds = model.predict(X_test_scaled) 

# Evaluate the result
rsquared_score = r2_score(y_test, y_test_preds)
print('R sequared = ', rsquared_score)

R sequared =  0.47060512741323735

In [37]:
number_input_features = 20 #len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 80)                1680

 dense_13 (Dense)            (None, 30)                2430

 dense_14 (Dense)            (None, 1)                 31

=================================================================
Total params: 4,141
Trainable params: 4,141
Non-trainable params: 0
_________________________________________________________________

In [38]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [40]:
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
135/135 [==============================] - 0s 2ms/step - loss: -813332118372352.0000 - accuracy: 0.0000e+00
Epoch 2/100
135/135 [==============================] - 0s 1ms/step - loss: -1095586967191552.0000 - accuracy: 0.0000e+00
Epoch 3/100
135/135 [==============================] - 0s 1ms/step - loss: -1332243020644352.0000 - accuracy: 0.0000e+00
Epoch 4/100
135/135 [==============================] - 0s 1ms/step - loss: -1558665777643520.0000 - accuracy: 0.0000e+00
Epoch 5/100
135/135 [==============================] - 0s 1ms/step - loss: -1783311223488512.0000 - accuracy: 0.0000e+00
Epoch 6/100
135/135 [==============================] - 0s 1ms/step - loss: -2009897323462656.0000 - accuracy: 0.0000e+00
Epoch 7/100
135/135 [==============================] - 0s 1ms/step - loss: -2239900875227136.0000 - accuracy: 0.0000e+00
Epoch 8/100
135/135 [==============================] - 0s 1ms/step - loss: -2475612438528000.0000 - accuracy: 0.0000e+00
Epoch 9/100
135/135 [==============================] - 0s 1ms/step - loss: -2719308346032128.0000 - accuracy: 0.0000e+00
Epoch 10/100
135/135 [==============================] - 0s 1ms/step - loss: -2970310529777664.0000 - accuracy: 0.0000e+00
Epoch 11/100
135/135 [==============================] - 0s 1ms/step - loss: -3228573355737088.0000 - accuracy: 0.0000e+00
Epoch 12/100
135/135 [==============================] - 0s 1ms/step - loss: -3496824933449728.0000 - accuracy: 0.0000e+00
Epoch 13/100
135/135 [==============================] - 0s 1ms/step - loss: -3773606047776768.0000 - accuracy: 0.0000e+00
Epoch 14/100
135/135 [==============================] - 0s 1ms/step - loss: -4059967891963904.0000 - accuracy: 0.0000e+00
Epoch 15/100
135/135 [==============================] - 0s 1ms/step - loss: -4355582437883904.0000 - accuracy: 0.0000e+00
Epoch 16/100
135/135 [==============================] - 0s 1ms/step - loss: -4661405852631040.0000 - accuracy: 0.0000e+00
Epoch 17/100
135/135 [==============================] - 0s 1ms/step - loss: -4979090088001536.0000 - accuracy: 0.0000e+00
Epoch 18/100
135/135 [==============================] - 0s 1ms/step - loss: -5305109244280832.0000 - accuracy: 0.0000e+00
Epoch 19/100
135/135 [==============================] - 0s 1ms/step - loss: -5641449206972416.0000 - accuracy: 0.0000e+00
Epoch 20/100
135/135 [==============================] - 0s 1ms/step - loss: -5987626255384576.0000 - accuracy: 0.0000e+00
Epoch 21/100
135/135 [==============================] - 0s 1ms/step - loss: -6345216642514944.0000 - accuracy: 0.0000e+00
Epoch 22/100
135/135 [==============================] - 0s 1ms/step - loss: -6713514919985152.0000 - accuracy: 0.0000e+00
Epoch 23/100
135/135 [==============================] - 0s 1ms/step - loss: -7094435032596480.0000 - accuracy: 0.0000e+00
Epoch 24/100
135/135 [==============================] - 0s 1ms/step - loss: -7485646423719936.0000 - accuracy: 0.0000e+00
Epoch 25/100
135/135 [==============================] - 0s 1ms/step - loss: -7888781717798912.0000 - accuracy: 0.0000e+00
Epoch 26/100
135/135 [==============================] - 0s 1ms/step - loss: -8304671991005184.0000 - accuracy: 0.0000e+00
Epoch 27/100
135/135 [==============================] - 0s 1ms/step - loss: -8732576898351104.0000 - accuracy: 0.0000e+00
Epoch 28/100
135/135 [==============================] - 0s 1ms/step - loss: -9172626362597376.0000 - accuracy: 0.0000e+00
Epoch 29/100
135/135 [==============================] - 0s 1ms/step - loss: -9624811256938496.0000 - accuracy: 0.0000e+00
Epoch 30/100
135/135 [==============================] - 0s 1ms/step - loss: -10088575383109632.0000 - accuracy: 0.0000e+00
Epoch 31/100
135/135 [==============================] - 0s 1ms/step - loss: -10566588063285248.0000 - accuracy: 0.0000e+00
Epoch 32/100
135/135 [==============================] - 0s 1ms/step - loss: -11054456619663360.0000 - accuracy: 0.0000e+00
Epoch 33/100
135/135 [==============================] - 0s 1ms/step - loss: -11554219014225920.0000 - accuracy: 0.0000e+00
Epoch 34/100
135/135 [==============================] - 0s 1ms/step - loss: -12070078946213888.0000 - accuracy: 0.0000e+00
Epoch 35/100
135/135 [==============================] - 0s 1ms/step - loss: -12628985187926016.0000 - accuracy: 0.0000e+00
Epoch 36/100
135/135 [==============================] - 0s 1ms/step - loss: -13205946398408704.0000 - accuracy: 0.0000e+00
Epoch 37/100
135/135 [==============================] - 0s 1ms/step - loss: -13790119932723200.0000 - accuracy: 0.0000e+00
Epoch 38/100
135/135 [==============================] - 0s 1ms/step - loss: -14384656149381120.0000 - accuracy: 0.0000e+00
Epoch 39/100
135/135 [==============================] - 0s 1ms/step - loss: -14992252287844352.0000 - accuracy: 0.0000e+00
Epoch 40/100
135/135 [==============================] - 0s 1ms/step - loss: -15613582657978368.0000 - accuracy: 0.0000e+00
Epoch 41/100
135/135 [==============================] - 0s 1ms/step - loss: -16250158014529536.0000 - accuracy: 0.0000e+00
Epoch 42/100
135/135 [==============================] - 0s 1ms/step - loss: -16901154797518848.0000 - accuracy: 0.0000e+00
Epoch 43/100
135/135 [==============================] - 0s 1ms/step - loss: -17565399407132672.0000 - accuracy: 0.0000e+00
Epoch 44/100
135/135 [==============================] - 0s 1ms/step - loss: -18242158477705216.0000 - accuracy: 0.0000e+00
Epoch 45/100
135/135 [==============================] - 0s 1ms/step - loss: -18940533044936704.0000 - accuracy: 0.0000e+00
Epoch 46/100
135/135 [==============================] - 0s 1ms/step - loss: -19645775264874496.0000 - accuracy: 0.0000e+00
Epoch 47/100
135/135 [==============================] - 0s 1ms/step - loss: -20365190876889088.0000 - accuracy: 0.0000e+00
Epoch 48/100
135/135 [==============================] - 0s 1ms/step - loss: -21100618126983168.0000 - accuracy: 0.0000e+00
Epoch 49/100
135/135 [==============================] - 0s 1ms/step - loss: -21853083512340480.0000 - accuracy: 0.0000e+00
Epoch 50/100
135/135 [==============================] - 0s 1ms/step - loss: -22619962807943168.0000 - accuracy: 0.0000e+00
Epoch 51/100
135/135 [==============================] - 0s 1ms/step - loss: -23401419222548480.0000 - accuracy: 0.0000e+00
Epoch 52/100
135/135 [==============================] - 0s 1ms/step - loss: -24200126373298176.0000 - accuracy: 0.0000e+00
Epoch 53/100
135/135 [==============================] - 0s 1ms/step - loss: -25012704120930304.0000 - accuracy: 0.0000e+00
Epoch 54/100
135/135 [==============================] - 0s 1ms/step - loss: -25842238399447040.0000 - accuracy: 0.0000e+00
Epoch 55/100
135/135 [==============================] - 0s 2ms/step - loss: -26689706313908224.0000 - accuracy: 0.0000e+00
Epoch 56/100
135/135 [==============================] - 0s 1ms/step - loss: -27550726997671936.0000 - accuracy: 0.0000e+00
Epoch 57/100
135/135 [==============================] - 0s 1ms/step - loss: -28433843140689920.0000 - accuracy: 0.0000e+00
Epoch 58/100
135/135 [==============================] - 0s 1ms/step - loss: -29332665979109376.0000 - accuracy: 0.0000e+00
Epoch 59/100
135/135 [==============================] - 0s 1ms/step - loss: -30244234132979712.0000 - accuracy: 0.0000e+00
Epoch 60/100
135/135 [==============================] - 0s 1ms/step - loss: -31174822549520384.0000 - accuracy: 0.0000e+00
Epoch 61/100
135/135 [==============================] - 0s 1ms/step - loss: -32121867133255680.0000 - accuracy: 0.0000e+00
Epoch 62/100
135/135 [==============================] - 0s 1ms/step - loss: -33085307754643456.0000 - accuracy: 0.0000e+00
Epoch 63/100
135/135 [==============================] - 0s 1ms/step - loss: -34066304054853632.0000 - accuracy: 0.0000e+00
Epoch 64/100
135/135 [==============================] - 0s 1ms/step - loss: -35061037807960064.0000 - accuracy: 0.0000e+00
Epoch 65/100
135/135 [==============================] - 0s 1ms/step - loss: -36077828365615104.0000 - accuracy: 0.0000e+00
Epoch 66/100
135/135 [==============================] - 0s 1ms/step - loss: -37114178204336128.0000 - accuracy: 0.0000e+00
Epoch 67/100

135/135 [==============================] - 0s 1ms/step - loss: -38167132386623488.0000 - accuracy: 0.0000e+00
Epoch 68/100
135/135 [==============================] - 0s 1ms/step - loss: -39236373084897280.0000 - accuracy: 0.0000e+00
Epoch 69/100
135/135 [==============================] - 0s 1ms/step - loss: -40321178744651776.0000 - accuracy: 0.0000e+00
Epoch 70/100
135/135 [==============================] - 0s 2ms/step - loss: -41425732664033280.0000 - accuracy: 0.0000e+00
Epoch 71/100
135/135 [==============================] - 0s 1ms/step - loss: -42548858022002688.0000 - accuracy: 0.0000e+00
Epoch 72/100
135/135 [==============================] - 0s 2ms/step - loss: -43691246308294656.0000 - accuracy: 0.0000e+00
Epoch 73/100
135/135 [==============================] - 0s 1ms/step - loss: -44849508793712640.0000 - accuracy: 0.0000e+00
Epoch 74/100
135/135 [==============================] - 0s 1ms/step - loss: -46028674884960256.0000 - accuracy: 0.0000e+00
Epoch 75/100
135/135 [==============================] - 0s 1ms/step - loss: -47228199121190912.0000 - accuracy: 0.0000e+00
Epoch 76/100
135/135 [==============================] - 0s 1ms/step - loss: -48442966196355072.0000 - accuracy: 0.0000e+00
Epoch 77/100
135/135 [==============================] - 0s 1ms/step - loss: -49676575293046784.0000 - accuracy: 0.0000e+00
Epoch 78/100
135/135 [==============================] - 0s 1ms/step - loss: -50924396436520960.0000 - accuracy: 0.0000e+00
Epoch 79/100
135/135 [==============================] - 0s 1ms/step - loss: -52197257239330816.0000 - accuracy: 0.0000e+00
Epoch 80/100
135/135 [==============================] - 0s 1ms/step - loss: -53490708115357696.0000 - accuracy: 0.0000e+00
Epoch 81/100
135/135 [==============================] - 0s 1ms/step - loss: -54800613011095552.0000 - accuracy: 0.0000e+00
Epoch 82/100
135/135 [==============================] - 0s 1ms/step - loss: -56129304093786112.0000 - accuracy: 0.0000e+00
Epoch 83/100
135/135 [==============================] - 0s 1ms/step - loss: -57478817177927680.0000 - accuracy: 0.0000e+00
Epoch 84/100
135/135 [==============================] - 0s 1ms/step - loss: -58849156558487552.0000 - accuracy: 0.0000e+00
Epoch 85/100
135/135 [==============================] - 0s 1ms/step - loss: -60240257810956288.0000 - accuracy: 0.0000e+00
Epoch 86/100
135/135 [==============================] - 0s 1ms/step - loss: -61650759430701056.0000 - accuracy: 0.0000e+00
Epoch 87/100
135/135 [==============================] - 0s 1ms/step - loss: -63082546908364800.0000 - accuracy: 0.0000e+00
Epoch 88/100
135/135 [==============================] - 0s 1ms/step - loss: -64529293757120512.0000 - accuracy: 0.0000e+00
Epoch 89/100
135/135 [==============================] - 0s 1ms/step - loss: -66000474674823168.0000 - accuracy: 0.0000e+00
Epoch 90/100
135/135 [==============================] - 0s 1ms/step - loss: -67493091774300160.0000 - accuracy: 0.0000e+00
Epoch 91/100
135/135 [==============================] - 0s 1ms/step - loss: -68999465654026240.0000 - accuracy: 0.0000e+00
Epoch 92/100
135/135 [==============================] - 0s 1ms/step - loss: -70533073921376256.0000 - accuracy: 0.0000e+00
Epoch 93/100
135/135 [==============================] - 0s 1ms/step - loss: -72077917823172608.0000 - accuracy: 0.0000e+00
Epoch 94/100
135/135 [==============================] - 0s 2ms/step - loss: -73651954617679872.0000 - accuracy: 0.0000e+00
Epoch 95/100
135/135 [==============================] - 0s 1ms/step - loss: -75243068202156032.0000 - accuracy: 0.0000e+00
Epoch 96/100
135/135 [==============================] - 0s 1ms/step - loss: -76854428262465536.0000 - accuracy: 0.0000e+00
Epoch 97/100
135/135 [==============================] - 0s 1ms/step - loss: -78489341923426304.0000 - accuracy: 0.0000e+00
Epoch 98/100
135/135 [==============================] - 0s 1ms/step - loss: -80137209205751808.0000 - accuracy: 0.0000e+00
Epoch 99/100
135/135 [==============================] - 0s 1ms/step - loss: -81819565075464192.0000 - accuracy: 0.0000e+00
Epoch 100/100
135/135 [==============================] - 0s 1ms/step - loss: -83516781532020736.0000 - accuracy: 0.0000e+00