In [50]:
import pandas as pd
import re
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import StandardScaler,OneHotEncoder, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
import pickle

In [49]:
original_df = pd.read_csv('Chicago_Airbnb_Listing_Dataset.csv')
airbnb_df = original_df
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6544 entries, 0 to 6543
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      6544 non-null   int64
 1   neighbourhood_cleansed  6544 non-null   object
 2   latitude                6544 non-null   float64
 3   longitude               6544 non-null   float64
 4   room_type               6544 non-null   object
 5   accommodates            6544 non-null   int64
 6   bathrooms_text          6530 non-null   object
 7   bedrooms                5965 non-null   float64
 8   beds                    6345 non-null   float64
 9   price                   6544 non-null   object
 10  minimum_nights          6544 non-null   int64
 11  maximum_nights          6544 non-null   int64
 12  minimum_minimum_nights  6544 non-null   int64
 13  maximum_minimum_nights  6544 non-null   int64
 14  minimum_maximum_nights  6544 non-null   int64
 15  maximum_maximum_nights  6544 non-null   int64
 16  minimum_nights_avg_ntm  6544 non-null   float64
 17  maximum_nights_avg_ntm  6544 non-null   float64
dtypes: float64(6), int64(8), object(4)
memory usage: 920.4+ KB

In [3]:
airbnb_df['price'] = airbnb_df['price'].str.replace('$', '')
airbnb_df['price'] = airbnb_df['price'].str.replace(',', '').astype(float)

C:\Users\Rus\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [4]:
airbnb_df.drop(airbnb_df[airbnb_df.price > 1000].index, inplace=True)

In [5]:
airbnb_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,Hyde Park,41.78790,-87.58780,Private room,1,1 shared bath,1.0,1.0,95.0,3,89,3,3,1125,1125,3.0,1125.0
1,7126,West Town,41.90166,-87.68021,Entire home/apt,2,1 bath,1.0,1.0,65.0,2,60,2,2,1125,1125,2.0,1125.0
2,10945,Lincoln Park,41.91196,-87.63981,Entire home/apt,4,1 bath,2.0,2.0,127.0,4,180,4,4,180,180,4.0,180.0
3,12140,Lincoln Park,41.92357,-87.64947,Private room,2,1 private bath,1.0,2.0,329.0,2,7,2,2,7,7,2.0,7.0
4,22362,West Town,41.89730,-87.65889,Entire home/apt,4,2 baths,2.0,2.0,105.0,121,1125,121,121,1125,1125,121.0,1125.0

In [6]:
neighbourhoods = airbnb_df['neighbourhood_cleansed'].value_counts()
neighbourhoods

Near North Side    749
West Town          676
Lake View          553
Near West Side     402
Logan Square       391
                  ...
Edison Park          1
Avalon Park          1
Burnside             1
Gage Park            1
West Elsdon          1
Name: neighbourhood_cleansed, Length: 76, dtype: int64

In [7]:
neighbourhood_list = neighbourhoods.index
neighbourhood_list
neighbourhood_num = np.arange(len(neighbourhood_list))

In [20]:
room_type_list = airbnb_df['room_type'].value_counts().index
accommodates_list = airbnb_df['accommodates'].value_counts().index
bathroom_list = airbnb_df['bathrooms_text'].value_counts().index
bedroom_list = airbnb_df['bedrooms'].value_counts().index
beds_list = airbnb_df['beds'].value_counts().index

In [14]:
neighbourhood_list

Index(['Near North Side', 'West Town', 'Lake View', 'Near West Side',
       'Logan Square', 'Loop', 'Lincoln Park', 'Uptown', 'Near South Side',
       'Lower West Side', 'Irving Park', 'Edgewater', 'Bridgeport', 'Avondale',
       'Rogers Park', 'North Center', 'East Garfield Park', 'Grand Boulevard',
       'Hyde Park', 'Lincoln Square', 'South Shore', 'Humboldt Park',
       'West Ridge', 'Woodlawn', 'Portage Park', 'Douglas', 'Albany Park',
       'Kenwood', 'Armour Square', 'Austin', 'Greater Grand Crossing',
       'South Lawndale', 'Jefferson Park', 'Washington Park', 'North Lawndale',
       'Mckinley Park', 'Norwood Park', 'Dunning', 'Calumet Heights',
       'South Chicago', 'West Garfield Park', 'Belmont Cragin',
       'Brighton Park', 'North Park', 'Hermosa', 'Englewood', 'New City',
       'Oakland', 'Garfield Ridge', 'Chatham', 'Auburn Gresham', 'Ohare',
       'Ashburn', 'Pullman', 'East Side', 'Forest Glen', 'Washington Heights',
       'Roseland', 'West Englewood', 'Beverly', 'Morgan Park', 'West Lawn',
       'Chicago Lawn', 'Montclare', 'West Pullman', 'Archer Heights',
       'Mount Greenwood', 'Clearing', 'Hegewisch', 'Fuller Park',
       'South Deering', 'Edison Park', 'Avalon Park', 'Burnside', 'Gage Park',
       'West Elsdon'],
      dtype='object')

In [8]:
# neighborhood_dict = dict(zip(neighbourhood_list,neighbourhood_num))
neighborhood_dict = dict(zip(neighbourhoods.index,np.arange(len(neighbourhoods.index))))
neighborhood_dict

{'Near North Side': 0,
 'West Town': 1,
 'Lake View': 2,
 'Near West Side': 3,
 'Logan Square': 4,
 'Loop': 5,
 'Lincoln Park': 6,
 'Uptown': 7,
 'Near South Side': 8,
 'Lower West Side': 9,
 'Irving Park': 10,
 'Edgewater': 11,
 'Bridgeport': 12,
 'Avondale': 13,
 'Rogers Park': 14,
 'North Center': 15,
 'East Garfield Park': 16,
 'Grand Boulevard': 17,
 'Hyde Park': 18,
 'Lincoln Square': 19,
 'South Shore': 20,
 'Humboldt Park': 21,
 'West Ridge': 22,
 'Woodlawn': 23,
 'Portage Park': 24,
 'Douglas': 25,
 'Albany Park': 26,
 'Kenwood': 27,
 'Armour Square': 28,
 'Austin': 29,
 'Greater Grand Crossing': 30,
 'South Lawndale': 31,
 'Jefferson Park': 32,
 'Washington Park': 33,
 'North Lawndale': 34,
 'Mckinley Park': 35,
 'Norwood Park': 36,
 'Dunning': 37,
 'Calumet Heights': 38,
 'South Chicago': 39,
 'West Garfield Park': 40,
 'Belmont Cragin': 41,
 'Brighton Park': 42,
 'North Park': 43,
 'Hermosa': 44,
 'Englewood': 45,
 'New City': 46,
 'Oakland': 47,
 'Garfield Ridge': 48,
 'Chatham': 49,
 'Auburn Gresham': 50,
 'Ohare': 51,
 'Ashburn': 52,
 'Pullman': 53,
 'East Side': 54,
 'Forest Glen': 55,
 'Washington Heights': 56,
 'Roseland': 57,
 'West Englewood': 58,
 'Beverly': 59,
 'Morgan Park': 60,
 'West Lawn': 61,
 'Chicago Lawn': 62,
 'Montclare': 63,
 'West Pullman': 64,
 'Archer Heights': 65,
 'Mount Greenwood': 66,
 'Clearing': 67,
 'Hegewisch': 68,
 'Fuller Park': 69,
 'South Deering': 70,
 'Edison Park': 71,
 'Avalon Park': 72,
 'Burnside': 73,
 'Gage Park': 74,
 'West Elsdon': 75}

In [9]:
cleaning_df = airbnb_df
cleaning_df['neighbourhood_cleansed'] = cleaning_df['neighbourhood_cleansed'].apply(lambda x:neighborhood_dict[x])
cleaning_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,18,41.78790,-87.58780,Private room,1,1 shared bath,1.0,1.0,95.0,3,89,3,3,1125,1125,3.0,1125.0
1,7126,1,41.90166,-87.68021,Entire home/apt,2,1 bath,1.0,1.0,65.0,2,60,2,2,1125,1125,2.0,1125.0
2,10945,6,41.91196,-87.63981,Entire home/apt,4,1 bath,2.0,2.0,127.0,4,180,4,4,180,180,4.0,180.0
3,12140,6,41.92357,-87.64947,Private room,2,1 private bath,1.0,2.0,329.0,2,7,2,2,7,7,2.0,7.0
4,22362,1,41.89730,-87.65889,Entire home/apt,4,2 baths,2.0,2.0,105.0,121,1125,121,121,1125,1125,121.0,1125.0

In [10]:
# airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].str.replace(' shared bath', '')
cleaning_df['bathrooms_text'].value_counts()

1 bath               3296
2 baths               968
1 shared bath         738
1 private bath        451
2 shared baths        202
1.5 baths             187
2.5 baths             157
1.5 shared baths      108
3 baths               108
3.5 baths              66
4 baths                36
3 shared baths         33
2.5 shared baths       32
4 shared baths         19
4.5 baths              15
0 shared baths          9
0 baths                 5
6 baths                 5
11 shared baths         4
5 baths                 4
Private half-bath       3
Shared half-bath        3
7 baths                 2
Half-bath               2
11.5 shared baths       1
6.5 baths               1
8 shared baths          1
12.5 baths              1
Name: bathrooms_text, dtype: int64

In [11]:
cleaning_df['bathrooms_text'] = cleaning_df['bathrooms_text'].str.replace('-bath', '0.5')
cleaning_df['bathrooms_text'] = cleaning_df['bathrooms_text'].str.extract('(\d*\.\d+|\d+)', expand=False)
cleaning_df['bathrooms_text'] = cleaning_df['bathrooms_text'].astype(float)
cleaning_df = cleaning_df.dropna()

In [13]:
# working_df = pd.get_dummies(cleaning_df)
working_df = cleaning_df.drop(['price','id','latitude','longitude','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm', 'minimum_nights', 'maximum_nights'], axis=1)
working_df

,neighbourhood_cleansed,room_type,accommodates,bathrooms_text,bedrooms,beds
0,18,Private room,1,1.0,1.0,1.0
1,1,Entire home/apt,2,1.0,1.0,1.0
2,6,Entire home/apt,4,1.0,2.0,2.0
3,6,Private room,2,1.0,1.0,2.0
4,1,Entire home/apt,4,2.0,2.0,2.0
...,...,...,...,...,...,...
6539,1,Entire home/apt,2,1.0,1.0,1.0
6540,1,Entire home/apt,6,1.0,3.0,3.0
6541,2,Entire home/apt,6,2.0,2.0,2.0
6542,2,Entire home/apt,6,2.0,2.0,2.0
6543,0,Entire home/apt,4,1.0,1.0,2.0

In [23]:
X = pd.get_dummies(working_df)
y = cleaning_df['price']
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5739 entries, 0 to 6543
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   neighbourhood_cleansed     5739 non-null   int32
 1   accommodates               5739 non-null   int64
 2   bathrooms_text             5739 non-null   float64
 3   bedrooms                   5739 non-null   float64
 4   beds                       5739 non-null   float64
 5   room_type_Entire home/apt  5739 non-null   uint8
 6   room_type_Hotel room       5739 non-null   uint8
 7   room_type_Private room     5739 non-null   uint8
 8   room_type_Shared room      5739 non-null   uint8
dtypes: float64(3), int32(1), int64(1), uint8(4)
memory usage: 269.0 KB

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = MinMaxScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [25]:
model = RandomForestRegressor(random_state=42, n_estimators=100, max_depth=3)

In [26]:
# Fit the model on training data
model.fit(X_train_scaled, y_train)
        
# Predict results
y_test_preds = model.predict(X_test_scaled) 

# Evaluate the result
rsquared_score = r2_score(y_test, y_test_preds)
print('R sequared = ', rsquared_score)

R sequared =  0.4702645502163091

In [ ]:
# X_nn = working_df.drop(['price','id'], axis=1)

In [30]:
number_input_features = 9 #len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation=None))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                800

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 3,261
Trainable params: 3,261
Non-trainable params: 0
_________________________________________________________________

In [31]:
nn.compile(loss="mean_absolute_error", optimizer="adam")

In [32]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,validation_split=0.1)

Epoch 1/100
122/122 [==============================] - 1s 2ms/step - loss: 144.1147 - val_loss: 127.4939
Epoch 2/100
122/122 [==============================] - 0s 1ms/step - loss: 87.4892 - val_loss: 69.8323
Epoch 3/100
122/122 [==============================] - 0s 1ms/step - loss: 64.3122 - val_loss: 65.1513
Epoch 4/100
122/122 [==============================] - 0s 1ms/step - loss: 61.5432 - val_loss: 63.3509
Epoch 5/100
122/122 [==============================] - 0s 1ms/step - loss: 60.3365 - val_loss: 61.9298
Epoch 6/100
122/122 [==============================] - 0s 1ms/step - loss: 59.3606 - val_loss: 60.6235
Epoch 7/100
122/122 [==============================] - 0s 1ms/step - loss: 58.5984 - val_loss: 59.5939
Epoch 8/100
122/122 [==============================] - 0s 1ms/step - loss: 57.9893 - val_loss: 58.9392
Epoch 9/100
122/122 [==============================] - 0s 1ms/step - loss: 57.6317 - val_loss: 58.4166
Epoch 10/100
122/122 [==============================] - 0s 1ms/step - loss: 57.4099 - val_loss: 58.0857
Epoch 11/100
122/122 [==============================] - 0s 1ms/step - loss: 57.2489 - val_loss: 57.9406
Epoch 12/100
122/122 [==============================] - 0s 1ms/step - loss: 57.1352 - val_loss: 57.7205
Epoch 13/100
122/122 [==============================] - 0s 1ms/step - loss: 57.0045 - val_loss: 57.9713
Epoch 14/100
122/122 [==============================] - 0s 1ms/step - loss: 56.9922 - val_loss: 57.5509
Epoch 15/100
122/122 [==============================] - 0s 1ms/step - loss: 56.8810 - val_loss: 57.5075
Epoch 16/100
122/122 [==============================] - 0s 1ms/step - loss: 56.8445 - val_loss: 57.4236
Epoch 17/100
122/122 [==============================] - 0s 1ms/step - loss: 56.7755 - val_loss: 57.5306
Epoch 18/100
122/122 [==============================] - 0s 1ms/step - loss: 56.7709 - val_loss: 57.4274
Epoch 19/100
122/122 [==============================] - 0s 1ms/step - loss: 56.6365 - val_loss: 57.1977
Epoch 20/100
122/122 [==============================] - 0s 1ms/step - loss: 56.6770 - val_loss: 57.4021
Epoch 21/100
122/122 [==============================] - 0s 1ms/step - loss: 56.4908 - val_loss: 57.1194
Epoch 22/100
122/122 [==============================] - 0s 1ms/step - loss: 56.4779 - val_loss: 57.4466
Epoch 23/100
122/122 [==============================] - 0s 1ms/step - loss: 56.4833 - val_loss: 57.1125
Epoch 24/100
122/122 [==============================] - 0s 1ms/step - loss: 56.3636 - val_loss: 56.8703
Epoch 25/100
122/122 [==============================] - 0s 1ms/step - loss: 56.2834 - val_loss: 57.0013
Epoch 26/100
122/122 [==============================] - 0s 1ms/step - loss: 56.2339 - val_loss: 56.8100
Epoch 27/100
122/122 [==============================] - 0s 1ms/step - loss: 56.1654 - val_loss: 56.7242
Epoch 28/100
122/122 [==============================] - 0s 1ms/step - loss: 56.1571 - val_loss: 56.6672
Epoch 29/100
122/122 [==============================] - 0s 1ms/step - loss: 56.1380 - val_loss: 56.7240
Epoch 30/100
122/122 [==============================] - 0s 1ms/step - loss: 56.0109 - val_loss: 56.7394
Epoch 31/100
122/122 [==============================] - 0s 1ms/step - loss: 56.0118 - val_loss: 56.8066
Epoch 32/100
122/122 [==============================] - 0s 1ms/step - loss: 55.8362 - val_loss: 56.3480
Epoch 33/100
122/122 [==============================] - 0s 1ms/step - loss: 55.8900 - val_loss: 56.6886
Epoch 34/100
122/122 [==============================] - 0s 1ms/step - loss: 55.8200 - val_loss: 56.6522
Epoch 35/100
122/122 [==============================] - 0s 1ms/step - loss: 55.7780 - val_loss: 56.5343
Epoch 36/100
122/122 [==============================] - 0s 1ms/step - loss: 55.7536 - val_loss: 56.3556
Epoch 37/100
122/122 [==============================] - 0s 1ms/step - loss: 55.6768 - val_loss: 56.6311
Epoch 38/100
122/122 [==============================] - 0s 1ms/step - loss: 55.6440 - val_loss: 56.2395
Epoch 39/100
122/122 [==============================] - 0s 1ms/step - loss: 55.5370 - val_loss: 56.0513
Epoch 40/100
122/122 [==============================] - 0s 1ms/step - loss: 55.5245 - val_loss: 56.3309
Epoch 41/100
122/122 [==============================] - 0s 1ms/step - loss: 55.4859 - val_loss: 56.0101
Epoch 42/100
122/122 [==============================] - 0s 1ms/step - loss: 55.3992 - val_loss: 56.1872
Epoch 43/100
122/122 [==============================] - 0s 1ms/step - loss: 55.3409 - val_loss: 56.2113
Epoch 44/100
122/122 [==============================] - 0s 1ms/step - loss: 55.2771 - val_loss: 55.8523
Epoch 45/100
122/122 [==============================] - 0s 1ms/step - loss: 55.1922 - val_loss: 56.1367
Epoch 46/100
122/122 [==============================] - 0s 1ms/step - loss: 55.2260 - val_loss: 55.9419
Epoch 47/100
122/122 [==============================] - 0s 1ms/step - loss: 55.1238 - val_loss: 55.7451
Epoch 48/100
122/122 [==============================] - 0s 1ms/step - loss: 55.0602 - val_loss: 55.7218
Epoch 49/100
122/122 [==============================] - 0s 1ms/step - loss: 54.9704 - val_loss: 55.3647
Epoch 50/100
122/122 [==============================] - 0s 1ms/step - loss: 55.0830 - val_loss: 55.3925
Epoch 51/100
122/122 [==============================] - 0s 1ms/step - loss: 54.9210 - val_loss: 55.3333
Epoch 52/100
122/122 [==============================] - 0s 1ms/step - loss: 54.9143 - val_loss: 55.5627
Epoch 53/100
122/122 [==============================] - 0s 1ms/step - loss: 54.8222 - val_loss: 55.5786
Epoch 54/100
122/122 [==============================] - 0s 1ms/step - loss: 54.8031 - val_loss: 55.1161
Epoch 55/100
122/122 [==============================] - 0s 1ms/step - loss: 54.6684 - val_loss: 55.4427
Epoch 56/100
122/122 [==============================] - 0s 1ms/step - loss: 54.6582 - val_loss: 55.6587
Epoch 57/100
122/122 [==============================] - 0s 1ms/step - loss: 54.6224 - val_loss: 54.9638
Epoch 58/100
122/122 [==============================] - 0s 1ms/step - loss: 54.6518 - val_loss: 55.0864
Epoch 59/100
122/122 [==============================] - 0s 1ms/step - loss: 54.5308 - val_loss: 55.2941
Epoch 60/100
122/122 [==============================] - 0s 1ms/step - loss: 54.5494 - val_loss: 55.4135
Epoch 61/100
122/122 [==============================] - 0s 1ms/step - loss: 54.4235 - val_loss: 55.3681
Epoch 62/100
122/122 [==============================] - 0s 1ms/step - loss: 54.3501 - val_loss: 54.8770
Epoch 63/100
122/122 [==============================] - 0s 1ms/step - loss: 54.3215 - val_loss: 54.9316
Epoch 64/100
122/122 [==============================] - 0s 1ms/step - loss: 54.3037 - val_loss: 54.9354
Epoch 65/100
122/122 [==============================] - 0s 1ms/step - loss: 54.1973 - val_loss: 54.8381
Epoch 66/100
122/122 [==============================] - 0s 1ms/step - loss: 54.1299 - val_loss: 54.6643
Epoch 67/100
122/122 [==============================] - 0s 1ms/step - loss: 54.0943 - val_loss: 55.1558
Epoch 68/100
122/122 [==============================] - 0s 1ms/step - loss: 54.1191 - val_loss: 55.0276
Epoch 69/100
122/122 [==============================] - 0s 1ms/step - loss: 54.0238 - val_loss: 54.7622
Epoch 70/100
122/122 [==============================] - 0s 1ms/step - loss: 53.9925 - val_loss: 54.6298
Epoch 71/100
122/122 [==============================] - 0s 1ms/step - loss: 53.9540 - val_loss: 54.6456
Epoch 72/100
122/122 [==============================] - 0s 1ms/step - loss: 53.9203 - val_loss: 54.8970
Epoch 73/100
122/122 [==============================] - 0s 1ms/step - loss: 53.8939 - val_loss: 54.8553
Epoch 74/100
122/122 [==============================] - 0s 1ms/step - loss: 53.8339 - val_loss: 54.7587
Epoch 75/100
122/122 [==============================] - 0s 1ms/step - loss: 53.7876 - val_loss: 54.8555
Epoch 76/100
122/122 [==============================] - 0s 1ms/step - loss: 53.7205 - val_loss: 54.7116
Epoch 77/100
122/122 [==============================] - 0s 1ms/step - loss: 53.7944 - val_loss: 54.5454
Epoch 78/100
122/122 [==============================] - 0s 1ms/step - loss: 53.6743 - val_loss: 54.9693
Epoch 79/100
122/122 [==============================] - 0s 1ms/step - loss: 53.6924 - val_loss: 54.4323

Epoch 80/100
122/122 [==============================] - 0s 1ms/step - loss: 53.6213 - val_loss: 54.3588
Epoch 81/100
122/122 [==============================] - 0s 1ms/step - loss: 53.5516 - val_loss: 54.4373
Epoch 82/100
122/122 [==============================] - 0s 1ms/step - loss: 53.6153 - val_loss: 54.8187
Epoch 83/100
122/122 [==============================] - 0s 1ms/step - loss: 53.6063 - val_loss: 54.3724
Epoch 84/100
122/122 [==============================] - 0s 1ms/step - loss: 53.5799 - val_loss: 54.4136
Epoch 85/100
122/122 [==============================] - 0s 1ms/step - loss: 53.4601 - val_loss: 54.5014
Epoch 86/100
122/122 [==============================] - 0s 1ms/step - loss: 53.4139 - val_loss: 54.3244
Epoch 87/100
122/122 [==============================] - 0s 1ms/step - loss: 53.4823 - val_loss: 54.4161
Epoch 88/100
122/122 [==============================] - 0s 1ms/step - loss: 53.4227 - val_loss: 54.6257
Epoch 89/100
122/122 [==============================] - 0s 1ms/step - loss: 53.5100 - val_loss: 54.5109
Epoch 90/100
122/122 [==============================] - 0s 1ms/step - loss: 53.3607 - val_loss: 54.2775
Epoch 91/100
122/122 [==============================] - 0s 1ms/step - loss: 53.3677 - val_loss: 54.3978
Epoch 92/100
122/122 [==============================] - 0s 1ms/step - loss: 53.2993 - val_loss: 54.1885
Epoch 93/100
122/122 [==============================] - 0s 1ms/step - loss: 53.2767 - val_loss: 54.1440
Epoch 94/100
122/122 [==============================] - 0s 1ms/step - loss: 53.2957 - val_loss: 54.3687
Epoch 95/100
122/122 [==============================] - 0s 1ms/step - loss: 53.2019 - val_loss: 54.4831
Epoch 96/100
122/122 [==============================] - 0s 1ms/step - loss: 53.2217 - val_loss: 54.2620
Epoch 97/100
122/122 [==============================] - 0s 1ms/step - loss: 53.1950 - val_loss: 54.6355
Epoch 98/100
122/122 [==============================] - 0s 1ms/step - loss: 53.1927 - val_loss: 54.2555
Epoch 99/100
122/122 [==============================] - 0s 1ms/step - loss: 53.2244 - val_loss: 54.2168
Epoch 100/100
122/122 [==============================] - 0s 1ms/step - loss: 53.1424 - val_loss: 54.1077

In [33]:
# price_bins = [0.0, 49.0, 99.0, 149.0, 199.0, 249.0, 299.0, 
#               349.0, 399.0, 449.0, 499.0, 549.0, 
#               599.0, 649.0, 699.0, 749.0, 799.0,
#              849.0, 899.0, 949.0, 999.0, 1000.0]

# price_labels = ['0-49','50-99','100-149', '150-199', '200-249', '250-299', '300-349', '350-399','400-449', '450-499',
#              '500-549', '550-599', '600-649', '650-699', '700-749', '750-799', '800-849', '850-899', '900-949', '950-999', 
#              '1000+']

# price_bins = [0.0, 99.0, 199.0, 299.0,
#               399.0, 499.0, 599.0, 699.0, 799.0, 
#               899.0, 999.0, 1000.0]

# price_labels = ['0-99','100-199', '200-299', '300-399','400-499',
#              '500-599', '600-699','700-799', '800-899', '900-999', 
#              '1000+']

price_bins = [0.0, 49.0, 74.0, 99.0, 124.0, 149.0, 199.0, 299.0, 100000.0]

price_labels = ['0-49','50-74','75-99','100-124','125-149','150-199', '200-299', '300+']

In [34]:
class_airbnb_df = pd.read_csv('Chicago_Airbnb_Listing_Dataset.csv')
class_airbnb_df['price'] = class_airbnb_df['price'].str.replace('$', '')
class_airbnb_df['price'] = class_airbnb_df['price'].str.replace(',', '').astype(float)
class_airbnb_df['bathrooms_text'] = class_airbnb_df['bathrooms_text'].str.replace('-bath', '0.5')
class_airbnb_df['bathrooms_text'] = class_airbnb_df['bathrooms_text'].str.extract('(\d*\.\d+|\d+)', expand=False)
class_airbnb_df['bathrooms_text'] = class_airbnb_df['bathrooms_text'].astype(float)
class_airbnb_df["price_range"] = pd.cut(class_airbnb_df["price"], price_bins, labels=price_labels)
# airbnb_df.info
counts = class_airbnb_df["price_range"].value_counts()
total = counts/counts.sum()

C:\Users\Rus\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [35]:
RFC_df = class_airbnb_df
RFC_df = RFC_df.dropna()
class_df = RFC_df.drop(['price','price_range','id','minimum_minimum_nights',
                           'maximum_minimum_nights', 'minimum_maximum_nights','maximum_maximum_nights',
                           'minimum_nights_avg_ntm','maximum_nights_avg_ntm', 'minimum_nights','maximum_nights'], axis=1)
X_class = pd.get_dummies(class_df)
# X_class['room_type']  = LabelEncoder().fit_transform(X_class['room_type'])
y_class = LabelEncoder().fit_transform(RFC_df['price_range'])

In [36]:
airbnb_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,18,41.78790,-87.58780,Private room,1,1.0,1.0,1.0,95.0,3,89,3,3,1125,1125,3.0,1125.0
1,7126,1,41.90166,-87.68021,Entire home/apt,2,1.0,1.0,1.0,65.0,2,60,2,2,1125,1125,2.0,1125.0
2,10945,6,41.91196,-87.63981,Entire home/apt,4,1.0,2.0,2.0,127.0,4,180,4,4,180,180,4.0,180.0
3,12140,6,41.92357,-87.64947,Private room,2,1.0,1.0,2.0,329.0,2,7,2,2,7,7,2.0,7.0
4,22362,1,41.89730,-87.65889,Entire home/apt,4,2.0,2.0,2.0,105.0,121,1125,121,121,1125,1125,121.0,1125.0

In [37]:
X_class.head()

,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,neighbourhood_cleansed_Albany Park,neighbourhood_cleansed_Archer Heights,neighbourhood_cleansed_Armour Square,neighbourhood_cleansed_Ashburn,...,neighbourhood_cleansed_West Garfield Park,neighbourhood_cleansed_West Lawn,neighbourhood_cleansed_West Pullman,neighbourhood_cleansed_West Ridge,neighbourhood_cleansed_West Town,neighbourhood_cleansed_Woodlawn,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,41.78790,-87.58780,1,1.0,1.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,41.90166,-87.68021,2,1.0,1.0,1.0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,41.91196,-87.63981,4,1.0,2.0,2.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,41.92357,-87.64947,2,1.0,1.0,2.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,41.89730,-87.65889,4,2.0,2.0,2.0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [38]:
# Split Data to test and train
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_class, y_class, random_state=1)

#Scale data
scaler = MinMaxScaler().fit(X_train_class)
X_train_scaled = scaler.transform(X_train_class)
X_test_scaled = scaler.transform(X_test_class)

In [39]:
clf = RandomForestClassifier(random_state=42, n_estimators=100, max_depth=3).fit(X_train_scaled, y_train_class)

In [40]:
print(f'Training Score: {clf.score(X_train_scaled, y_train_class)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test_class)}')

Training Score: 0.3499884872208151
Testing Score: 0.337707182320442

In [41]:
prediction = clf.predict([X_test_scaled[1]])
prediction

array([7])

In [42]:
print([X_test_scaled[1]])

[array([0.67185375, 0.49163557, 0.2       , 0.08      , 0.09090909,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 1.        , 0.        , 0.        ,
       0.        ])]

In [43]:
pred_val = prediction.tolist()

In [44]:
number_input_features_x = 86
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 30
# hidden_nodes_layer4 = 30

nn_class = tf.keras.models.Sequential()

# First hidden layer
nn_class.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features_x, activation="relu")
)

# Second hidden layer
nn_class.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn_class.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# nn_class.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="relu"))

# Output layer
nn_class.add(tf.keras.layers.Dense(units=8, activation='sigmoid'))

# Check the structure of the model
nn_class.summary()

nn_class.compile(loss="categorical_crossentropy", optimizer=tf.keras.optimizers.Adam(
    learning_rate=0.0001,
#     epsilon=1e-07,
    name='Adam'
), metrics=['accuracy'])

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                6960

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 30)                930

 dense_9 (Dense)             (None, 8)                 248

=================================================================
Total params: 10,568
Trainable params: 10,568
Non-trainable params: 0
_________________________________________________________________

In [45]:
y_reshape = y_train_class.reshape(-1,1)
y_reshape_test = y_test_class.reshape(-1,1)
y_nn_enc = OneHotEncoder().fit(y_reshape)
y_train_nn = y_nn_enc.transform(y_reshape).toarray()
y_test_nn = y_nn_enc.transform(y_reshape_test).toarray()

In [46]:
fit_class = nn_class.fit(X_train_scaled,y_train_nn,epochs=100,validation_split=0.1)

Epoch 1/100
123/123 [==============================] - 1s 3ms/step - loss: 2.0621 - accuracy: 0.2016 - val_loss: 2.0388 - val_accuracy: 0.2345
Epoch 2/100
123/123 [==============================] - 0s 1ms/step - loss: 2.0233 - accuracy: 0.2334 - val_loss: 1.9906 - val_accuracy: 0.2759
Epoch 3/100
123/123 [==============================] - 0s 2ms/step - loss: 1.9706 - accuracy: 0.2449 - val_loss: 1.9267 - val_accuracy: 0.2644
Epoch 4/100
123/123 [==============================] - 0s 2ms/step - loss: 1.9129 - accuracy: 0.2607 - val_loss: 1.8688 - val_accuracy: 0.2713
Epoch 5/100
123/123 [==============================] - 0s 2ms/step - loss: 1.8658 - accuracy: 0.2625 - val_loss: 1.8286 - val_accuracy: 0.2759
Epoch 6/100
123/123 [==============================] - 0s 2ms/step - loss: 1.8287 - accuracy: 0.2779 - val_loss: 1.7977 - val_accuracy: 0.2966
Epoch 7/100
123/123 [==============================] - 0s 2ms/step - loss: 1.7995 - accuracy: 0.2966 - val_loss: 1.7720 - val_accuracy: 0.3333
Epoch 8/100
123/123 [==============================] - 0s 2ms/step - loss: 1.7734 - accuracy: 0.3091 - val_loss: 1.7442 - val_accuracy: 0.3540
Epoch 9/100
123/123 [==============================] - 0s 2ms/step - loss: 1.7507 - accuracy: 0.3101 - val_loss: 1.7208 - val_accuracy: 0.3540
Epoch 10/100
123/123 [==============================] - 0s 2ms/step - loss: 1.7284 - accuracy: 0.3140 - val_loss: 1.6980 - val_accuracy: 0.3609
Epoch 11/100
123/123 [==============================] - 0s 1ms/step - loss: 1.7075 - accuracy: 0.3158 - val_loss: 1.6757 - val_accuracy: 0.3609
Epoch 12/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6883 - accuracy: 0.3173 - val_loss: 1.6597 - val_accuracy: 0.3609
Epoch 13/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6706 - accuracy: 0.3252 - val_loss: 1.6439 - val_accuracy: 0.3701
Epoch 14/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6542 - accuracy: 0.3337 - val_loss: 1.6288 - val_accuracy: 0.3655
Epoch 15/100
123/123 [==============================] - 0s 2ms/step - loss: 1.6404 - accuracy: 0.3385 - val_loss: 1.6164 - val_accuracy: 0.3655
Epoch 16/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6283 - accuracy: 0.3444 - val_loss: 1.6027 - val_accuracy: 0.3747
Epoch 17/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6186 - accuracy: 0.3424 - val_loss: 1.5966 - val_accuracy: 0.3724
Epoch 18/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6099 - accuracy: 0.3439 - val_loss: 1.5896 - val_accuracy: 0.3701
Epoch 19/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6025 - accuracy: 0.3457 - val_loss: 1.5840 - val_accuracy: 0.3678
Epoch 20/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5965 - accuracy: 0.3541 - val_loss: 1.5750 - val_accuracy: 0.3770
Epoch 21/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5908 - accuracy: 0.3547 - val_loss: 1.5689 - val_accuracy: 0.3839
Epoch 22/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5866 - accuracy: 0.3539 - val_loss: 1.5620 - val_accuracy: 0.3701
Epoch 23/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5822 - accuracy: 0.3541 - val_loss: 1.5613 - val_accuracy: 0.3655
Epoch 24/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5776 - accuracy: 0.3541 - val_loss: 1.5614 - val_accuracy: 0.3816
Epoch 25/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5751 - accuracy: 0.3554 - val_loss: 1.5512 - val_accuracy: 0.3747
Epoch 26/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5723 - accuracy: 0.3564 - val_loss: 1.5533 - val_accuracy: 0.3747
Epoch 27/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5696 - accuracy: 0.3562 - val_loss: 1.5482 - val_accuracy: 0.3701
Epoch 28/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5672 - accuracy: 0.3603 - val_loss: 1.5466 - val_accuracy: 0.3747
Epoch 29/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5646 - accuracy: 0.3585 - val_loss: 1.5451 - val_accuracy: 0.3747
Epoch 30/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5634 - accuracy: 0.3603 - val_loss: 1.5430 - val_accuracy: 0.3770
Epoch 31/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5617 - accuracy: 0.3590 - val_loss: 1.5425 - val_accuracy: 0.3793
Epoch 32/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5591 - accuracy: 0.3590 - val_loss: 1.5401 - val_accuracy: 0.3816
Epoch 33/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5579 - accuracy: 0.3608 - val_loss: 1.5404 - val_accuracy: 0.3839
Epoch 34/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5561 - accuracy: 0.3611 - val_loss: 1.5358 - val_accuracy: 0.3885
Epoch 35/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5542 - accuracy: 0.3628 - val_loss: 1.5365 - val_accuracy: 0.3908
Epoch 36/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5532 - accuracy: 0.3628 - val_loss: 1.5340 - val_accuracy: 0.3885
Epoch 37/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5515 - accuracy: 0.3608 - val_loss: 1.5360 - val_accuracy: 0.3839
Epoch 38/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5497 - accuracy: 0.3641 - val_loss: 1.5406 - val_accuracy: 0.3862
Epoch 39/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5490 - accuracy: 0.3651 - val_loss: 1.5339 - val_accuracy: 0.3908
Epoch 40/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5478 - accuracy: 0.3634 - val_loss: 1.5323 - val_accuracy: 0.3885
Epoch 41/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5466 - accuracy: 0.3641 - val_loss: 1.5299 - val_accuracy: 0.3885
Epoch 42/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5465 - accuracy: 0.3634 - val_loss: 1.5313 - val_accuracy: 0.3908
Epoch 43/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5442 - accuracy: 0.3621 - val_loss: 1.5272 - val_accuracy: 0.3931
Epoch 44/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5435 - accuracy: 0.3636 - val_loss: 1.5293 - val_accuracy: 0.3931
Epoch 45/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5423 - accuracy: 0.3703 - val_loss: 1.5271 - val_accuracy: 0.3908
Epoch 46/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5410 - accuracy: 0.3618 - val_loss: 1.5246 - val_accuracy: 0.4023
Epoch 47/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5402 - accuracy: 0.3662 - val_loss: 1.5251 - val_accuracy: 0.3885
Epoch 48/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5389 - accuracy: 0.3677 - val_loss: 1.5282 - val_accuracy: 0.3977
Epoch 49/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5379 - accuracy: 0.3662 - val_loss: 1.5210 - val_accuracy: 0.3954
Epoch 50/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5383 - accuracy: 0.3675 - val_loss: 1.5223 - val_accuracy: 0.3954
Epoch 51/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5366 - accuracy: 0.3687 - val_loss: 1.5245 - val_accuracy: 0.3954
Epoch 52/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5354 - accuracy: 0.3667 - val_loss: 1.5205 - val_accuracy: 0.4000
Epoch 53/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5355 - accuracy: 0.3700 - val_loss: 1.5231 - val_accuracy: 0.3954
Epoch 54/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5339 - accuracy: 0.3721 - val_loss: 1.5209 - val_accuracy: 0.3977
Epoch 55/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5326 - accuracy: 0.3690 - val_loss: 1.5206 - val_accuracy: 0.3862
Epoch 56/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5327 - accuracy: 0.3713 - val_loss: 1.5230 - val_accuracy: 0.3931
Epoch 57/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5314 - accuracy: 0.3692 - val_loss: 1.5187 - val_accuracy: 0.4000

Epoch 58/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5304 - accuracy: 0.3710 - val_loss: 1.5184 - val_accuracy: 0.4000
Epoch 59/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5289 - accuracy: 0.3680 - val_loss: 1.5179 - val_accuracy: 0.3954
Epoch 60/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5286 - accuracy: 0.3738 - val_loss: 1.5206 - val_accuracy: 0.4000
Epoch 61/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5282 - accuracy: 0.3744 - val_loss: 1.5148 - val_accuracy: 0.4023
Epoch 62/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5270 - accuracy: 0.3723 - val_loss: 1.5192 - val_accuracy: 0.4023
Epoch 63/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5267 - accuracy: 0.3726 - val_loss: 1.5175 - val_accuracy: 0.4023
Epoch 64/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5257 - accuracy: 0.3690 - val_loss: 1.5188 - val_accuracy: 0.3977
Epoch 65/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5249 - accuracy: 0.3705 - val_loss: 1.5138 - val_accuracy: 0.3885
Epoch 66/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5243 - accuracy: 0.3728 - val_loss: 1.5145 - val_accuracy: 0.3977
Epoch 67/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5230 - accuracy: 0.3733 - val_loss: 1.5140 - val_accuracy: 0.3839
Epoch 68/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5229 - accuracy: 0.3723 - val_loss: 1.5116 - val_accuracy: 0.3908
Epoch 69/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5228 - accuracy: 0.3751 - val_loss: 1.5145 - val_accuracy: 0.3931
Epoch 70/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5209 - accuracy: 0.3790 - val_loss: 1.5135 - val_accuracy: 0.3908
Epoch 71/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5206 - accuracy: 0.3779 - val_loss: 1.5126 - val_accuracy: 0.3862
Epoch 72/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5192 - accuracy: 0.3749 - val_loss: 1.5131 - val_accuracy: 0.3862
Epoch 73/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5196 - accuracy: 0.3756 - val_loss: 1.5122 - val_accuracy: 0.3908
Epoch 74/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5185 - accuracy: 0.3785 - val_loss: 1.5130 - val_accuracy: 0.3908
Epoch 75/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5179 - accuracy: 0.3738 - val_loss: 1.5132 - val_accuracy: 0.3908
Epoch 76/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5171 - accuracy: 0.3779 - val_loss: 1.5105 - val_accuracy: 0.3954
Epoch 77/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5160 - accuracy: 0.3759 - val_loss: 1.5102 - val_accuracy: 0.3931
Epoch 78/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5156 - accuracy: 0.3756 - val_loss: 1.5122 - val_accuracy: 0.3793
Epoch 79/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5147 - accuracy: 0.3831 - val_loss: 1.5130 - val_accuracy: 0.3931
Epoch 80/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5142 - accuracy: 0.3808 - val_loss: 1.5107 - val_accuracy: 0.3908
Epoch 81/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5132 - accuracy: 0.3795 - val_loss: 1.5118 - val_accuracy: 0.3954
Epoch 82/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5127 - accuracy: 0.3790 - val_loss: 1.5135 - val_accuracy: 0.3954
Epoch 83/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5117 - accuracy: 0.3785 - val_loss: 1.5116 - val_accuracy: 0.3977
Epoch 84/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5114 - accuracy: 0.3818 - val_loss: 1.5133 - val_accuracy: 0.3908
Epoch 85/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5107 - accuracy: 0.3808 - val_loss: 1.5079 - val_accuracy: 0.3908
Epoch 86/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5097 - accuracy: 0.3825 - val_loss: 1.5074 - val_accuracy: 0.4046
Epoch 87/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5090 - accuracy: 0.3831 - val_loss: 1.5115 - val_accuracy: 0.3908
Epoch 88/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5083 - accuracy: 0.3846 - val_loss: 1.5098 - val_accuracy: 0.3977
Epoch 89/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5078 - accuracy: 0.3831 - val_loss: 1.5080 - val_accuracy: 0.3954
Epoch 90/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5071 - accuracy: 0.3823 - val_loss: 1.5130 - val_accuracy: 0.3885
Epoch 91/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5077 - accuracy: 0.3800 - val_loss: 1.5093 - val_accuracy: 0.3931
Epoch 92/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5066 - accuracy: 0.3841 - val_loss: 1.5069 - val_accuracy: 0.4000
Epoch 93/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5059 - accuracy: 0.3859 - val_loss: 1.5084 - val_accuracy: 0.3954
Epoch 94/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5047 - accuracy: 0.3818 - val_loss: 1.5060 - val_accuracy: 0.3931
Epoch 95/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5039 - accuracy: 0.3851 - val_loss: 1.5115 - val_accuracy: 0.3885
Epoch 96/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5030 - accuracy: 0.3869 - val_loss: 1.5084 - val_accuracy: 0.3977
Epoch 97/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5032 - accuracy: 0.3861 - val_loss: 1.5082 - val_accuracy: 0.3885
Epoch 98/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5021 - accuracy: 0.3864 - val_loss: 1.5065 - val_accuracy: 0.4046
Epoch 99/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5014 - accuracy: 0.3879 - val_loss: 1.5055 - val_accuracy: 0.3954
Epoch 100/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5009 - accuracy: 0.3854 - val_loss: 1.5047 - val_accuracy: 0.4023

In [47]:
nn_class.evaluate(x=X_test_scaled,y=y_test_nn)

46/46 [==============================] - 0s 842us/step - loss: 1.5705 - accuracy: 0.3764

[1.5704739093780518, 0.3763812184333801]

In [51]:

pickle_out = open("RFC_Model","wb")
pickle.dump(clf, pickle_out)
pickle_out.close()

In [59]:
new_RF = pickle.load(open("RFC_Model","rb"))

In [61]:
new_RF.score(X_test_scaled, y_test_class)

0.337707182320442

In [55]:
nn_class.save("NN_TF_Model.h5")

In [56]:
new_model = tf.keras.models.load_model("NN_TF_Model.h5")

In [57]:
new_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 80)                6960

 dense_7 (Dense)             (None, 30)                2430

 dense_8 (Dense)             (None, 30)                930

 dense_9 (Dense)             (None, 8)                 248

=================================================================
Total params: 10,568
Trainable params: 10,568
Non-trainable params: 0
_________________________________________________________________

In [58]:
new_model.evaluate(x=X_test_scaled,y=y_test_nn)

46/46 [==============================] - 0s 887us/step - loss: 1.5705 - accuracy: 0.3764

[1.5704739093780518, 0.3763812184333801]