In [1]:
import findspark
findspark.init()

In [2]:
import pandas as pd
import re
import os
import numpy as np
import tensorflow as tf
from sklearn.preprocessing import StandardScaler,OneHotEncoder, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
import pickle
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.appName("Capstone").config("spark.driver.maxResultSize","postgresql-42.2.16.jar").getOrCreate()

In [43]:
sc = spark.sparkContext

from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

test_df = sqlContext.read.format("jdbc").options(url="jdbc:postgresql://capstoneprojectdb.c6vra15jaa9i.us-east-2.rds.amazonaws.com:5432/postgres",driver="org.postgresql.Driver",dbtable="chicago_airbnb_listing_dataset",user="root",password="Finalproject$")

In [44]:
database = "postgres"
table = "Chicago_Airbnb_Listing_Dataset"
user = "root"
password  = "Finalproject$"

jdbcDF = spark.read.format("jdbc") \
    .option("url", f"jdbc:postgresql://capstoneprojectdb.c6vra15jaa9i.us-east-2.rds.amazonaws.com:5432/{database}") \
    .option("dbtable", table) \
    .option("user", user) \
    .option("password", password) \
    .option("driver", "org.postgresql.Driver") \
    .load()

jdbcDF.show()

+------+----------------------+---------+----------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|    id|neighbourhood_cleansed| latitude| longitude|      room_type|accommodates|  bathrooms_text|bedrooms|beds|price|minimum_nights|maximum_nights|minimum_minimum_nights|maximum_minimum_nights|minimum_maximum_nights|maximum_maximum_nights|minimum_nights_avg_ntm|maximum_nights_avg_ntm|
+------+----------------------+---------+----------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
|  2384|             Hyde Park|  41.7879|  -87.5878|   Private room|           1|   1 shared bath|       1|   1| 95.0|             3|            89|                     3|                     3|                  1125|                  1125|                   3.0|                1125.0|
|  7126|             West Town| 41.90166| -87.68021|Entire home/apt|           2|          1 bath|       1|   1| 65.0|             2|            60|                     2|                     2|                  1125|                  1125|                   2.0|                1125.0|
| 10945|          Lincoln Park| 41.91196| -87.63981|Entire home/apt|           4|          1 bath|       2|   2|127.0|             4|           180|                     4|                     4|                   180|                   180|                   4.0|                 180.0|
| 12140|          Lincoln Park| 41.92357| -87.64947|   Private room|           2|  1 private bath|       1|   2|329.0|             2|             7|                     2|                     2|                     7|                     7|                   2.0|                   7.0|
| 22362|             West Town|  41.8973| -87.65889|Entire home/apt|           4|         2 baths|       2|   2|105.0|           121|          1125|                   121|                   121|                  1125|                  1125|                 121.0|                1125.0|
| 24833|          Lincoln Park|41.925961|-87.656364|Entire home/apt|           3|          1 bath|       1|   1| 60.0|            32|           395|                    32|                    90|                   395|                   395|                  49.8|                 395.0|
| 25879|          Lincoln Park| 41.92499| -87.65573|Entire home/apt|           6|          1 bath|       2|null| 94.0|            32|           300|                    32|                    32|                  1125|                  1125|                  32.0|                1125.0|
| 28749|          Logan Square| 41.92138| -87.67931|Entire home/apt|           6|         2 baths|       3|   3|161.0|             2|            10|                     2|                     4|                     7|                    10|                   2.0|                   9.9|
| 37738|                Uptown| 41.97303| -87.66567|   Private room|           2|1.5 shared baths|       1|   1|110.0|             3|          1125|                     3|                     3|                  1125|                  1125|                   3.0|                1125.0|
| 67940|       Near South Side| 41.84576| -87.61871|Entire home/apt|           4|          1 bath|       1|   2| 85.0|             2|            90|                     2|                     2|                  1125|                  1125|                   2.0|                1125.0|
| 71930|             West Town| 41.89615| -87.67934|   Private room|           2|   1 shared bath|       1|   1| 65.0|             3|            90|                     3|                     3|                  1125|                  1125|                   3.0|                1125.0|
| 84042|             West Town| 41.89615| -87.67934|   Private room|           2|   1 shared bath|       1|   1| 64.0|             2|            90|                     2|                     2|                  1125|                  1125|                   2.0|                1125.0|
| 85196|          Logan Square| 41.91541| -87.68083|Entire home/apt|           2|          1 bath|       1|   1| 75.0|            32|            60|                    32|                    32|                    60|                    60|                  32.0|                  60.0|
|145659|          North Center| 41.94342| -87.68121|Entire home/apt|           8|         2 baths|       3|   3|204.0|             2|          1125|                     2|                     5|                  1125|                  1125|                   2.3|                1125.0|
|145690|          Lincoln Park| 41.91289| -87.63864|Entire home/apt|          10|         2 baths|       4|   4|249.0|             2|          1125|                     2|                     5|                  1125|                  1125|                   2.3|                1125.0|
|166667|             Lake View| 41.94217| -87.67182|Entire home/apt|           3|          1 bath|       1|   1|125.0|             3|           365|                     3|                     3|                   365|                   365|                   3.0|                 365.0|
|175511|           Albany Park| 41.96213| -87.72002|Entire home/apt|           2|          1 bath|       1|   1| 79.0|            28|           365|                    28|                    28|                  1125|                  1125|                  28.0|                1125.0|
|189821|          Logan Square| 41.92918| -87.70219|Entire home/apt|           5|          1 bath|       2|   3|240.0|             3|            28|                     3|                     5|                  1125|                  1125|                   3.8|                1125.0|
|198135|          North Center| 41.95888| -87.67776|   Private room|           1|   1 shared bath|       1|   1| 35.0|             3|           120|                     3|                     3|                   120|                   120|                   3.0|                 120.0|
|207218|               Pullman| 41.68843| -87.60712|Entire home/apt|           2|          1 bath|       1|   1| 90.0|             2|           125|                     2|                     2|                   125|                   125|                   2.0|                 125.0|
+------+----------------------+---------+----------+---------------+------------+----------------+--------+----+-----+--------------+--------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+
only showing top 20 rows

In [89]:
jdbcDF2 = jdbcDF.withColumn("price",jdbcDF.price.cast('int'))
jdbcDF2 = jdbcDF2.drop(jdbcDF2.minimum_nights_avg_ntm)
jdbcDF2 = jdbcDF2.drop(jdbcDF2.maximum_nights_avg_ntm)
jdbcDF2 = jdbcDF2.drop(jdbcDF2.latitude)
jdbcDF2 = jdbcDF2.drop(jdbcDF2.longitude)
jdbcDF2 = jdbcDF2.drop(jdbcDF2.price)
jdbcDF2.dtypes

[('id', 'int'),
 ('neighbourhood_cleansed', 'string'),
 ('room_type', 'string'),
 ('accommodates', 'int'),
 ('bathrooms_text', 'string'),
 ('bedrooms', 'int'),
 ('beds', 'int'),
 ('minimum_nights', 'int'),
 ('maximum_nights', 'int'),
 ('minimum_minimum_nights', 'int'),
 ('maximum_minimum_nights', 'int'),
 ('minimum_maximum_nights', 'int'),
 ('maximum_maximum_nights', 'int')]

In [120]:
postgres_df = jdbcDF2.toPandas()

In [126]:
features_df = postgres_df.drop(["id","minimum_nights","maximum_nights","minimum_minimum_nights","maximum_minimum_nights","minimum_maximum_nights","maximum_maximum_nights"], axis=1)
features_df

,neighbourhood_cleansed,room_type,accommodates,bathrooms_text,bedrooms,beds
0,Hyde Park,Private room,1,1 shared bath,1.0,1.0
1,West Town,Entire home/apt,2,1 bath,1.0,1.0
2,Lincoln Park,Entire home/apt,4,1 bath,2.0,2.0
3,Lincoln Park,Private room,2,1 private bath,1.0,2.0
4,West Town,Entire home/apt,4,2 baths,2.0,2.0
...,...,...,...,...,...,...
6539,West Town,Entire home/apt,2,1 bath,1.0,1.0
6540,West Town,Entire home/apt,6,1 bath,3.0,3.0
6541,Lake View,Entire home/apt,6,2 baths,2.0,2.0
6542,Lake View,Entire home/apt,6,2 baths,2.0,2.0
6543,Near North Side,Entire home/apt,4,1 bath,1.0,2.0

In [127]:
original_df = pd.read_csv('Chicago_Airbnb_Listing_Dataset.csv')
airbnb_df = original_df
airbnb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6544 entries, 0 to 6543
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      6544 non-null   int64
 1   neighbourhood_cleansed  6544 non-null   object
 2   latitude                6544 non-null   float64
 3   longitude               6544 non-null   float64
 4   room_type               6544 non-null   object
 5   accommodates            6544 non-null   int64
 6   bathrooms_text          6530 non-null   object
 7   bedrooms                5965 non-null   float64
 8   beds                    6345 non-null   float64
 9   price                   6544 non-null   object
 10  minimum_nights          6544 non-null   int64
 11  maximum_nights          6544 non-null   int64
 12  minimum_minimum_nights  6544 non-null   int64
 13  maximum_minimum_nights  6544 non-null   int64
 14  minimum_maximum_nights  6544 non-null   int64
 15  maximum_maximum_nights  6544 non-null   int64
 16  minimum_nights_avg_ntm  6544 non-null   float64
 17  maximum_nights_avg_ntm  6544 non-null   float64
dtypes: float64(6), int64(8), object(4)
memory usage: 920.4+ KB

In [128]:
airbnb_df['price'] = airbnb_df['price'].str.replace('$', '')
airbnb_df['price'] = airbnb_df['price'].str.replace(',', '').astype(float)

C:\Users\Rus\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [129]:
airbnb_df.drop(airbnb_df[airbnb_df.price > 1000].index, inplace=True)

In [130]:
airbnb_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,Hyde Park,41.78790,-87.58780,Private room,1,1 shared bath,1.0,1.0,95.0,3,89,3,3,1125,1125,3.0,1125.0
1,7126,West Town,41.90166,-87.68021,Entire home/apt,2,1 bath,1.0,1.0,65.0,2,60,2,2,1125,1125,2.0,1125.0
2,10945,Lincoln Park,41.91196,-87.63981,Entire home/apt,4,1 bath,2.0,2.0,127.0,4,180,4,4,180,180,4.0,180.0
3,12140,Lincoln Park,41.92357,-87.64947,Private room,2,1 private bath,1.0,2.0,329.0,2,7,2,2,7,7,2.0,7.0
4,22362,West Town,41.89730,-87.65889,Entire home/apt,4,2 baths,2.0,2.0,105.0,121,1125,121,121,1125,1125,121.0,1125.0

In [131]:
neighbourhoods = airbnb_df['neighbourhood_cleansed'].value_counts()
neighbourhoods

Near North Side    749
West Town          676
Lake View          553
Near West Side     402
Logan Square       391
                  ...
Edison Park          1
Avalon Park          1
Burnside             1
Gage Park            1
West Elsdon          1
Name: neighbourhood_cleansed, Length: 76, dtype: int64

In [132]:
neighbourhood_list = neighbourhoods.index
neighbourhood_list
neighbourhood_num = np.arange(len(neighbourhood_list))

In [133]:
room_type_list = airbnb_df['room_type'].value_counts().index
accommodates_list = airbnb_df['accommodates'].value_counts().index
bathroom_list = airbnb_df['bathrooms_text'].value_counts().index
bedroom_list = airbnb_df['bedrooms'].value_counts().index
beds_list = airbnb_df['beds'].value_counts().index

In [134]:
neighbourhood_list

Index(['Near North Side', 'West Town', 'Lake View', 'Near West Side',
       'Logan Square', 'Loop', 'Lincoln Park', 'Uptown', 'Near South Side',
       'Lower West Side', 'Irving Park', 'Edgewater', 'Bridgeport', 'Avondale',
       'Rogers Park', 'North Center', 'East Garfield Park', 'Grand Boulevard',
       'Hyde Park', 'Lincoln Square', 'South Shore', 'Humboldt Park',
       'West Ridge', 'Woodlawn', 'Portage Park', 'Douglas', 'Albany Park',
       'Kenwood', 'Armour Square', 'Austin', 'Greater Grand Crossing',
       'South Lawndale', 'Jefferson Park', 'Washington Park', 'North Lawndale',
       'Mckinley Park', 'Norwood Park', 'Dunning', 'Calumet Heights',
       'South Chicago', 'West Garfield Park', 'Belmont Cragin',
       'Brighton Park', 'North Park', 'Hermosa', 'Englewood', 'New City',
       'Oakland', 'Garfield Ridge', 'Chatham', 'Auburn Gresham', 'Ohare',
       'Ashburn', 'Pullman', 'East Side', 'Forest Glen', 'Washington Heights',
       'Roseland', 'West Englewood', 'Beverly', 'Morgan Park', 'West Lawn',
       'Chicago Lawn', 'Montclare', 'West Pullman', 'Archer Heights',
       'Mount Greenwood', 'Clearing', 'Hegewisch', 'Fuller Park',
       'South Deering', 'Edison Park', 'Avalon Park', 'Burnside', 'Gage Park',
       'West Elsdon'],
      dtype='object')

In [14]:
# neighborhood_dict = dict(zip(neighbourhood_list,neighbourhood_num))
neighborhood_dict = dict(zip(neighbourhoods.index,np.arange(len(neighbourhoods.index))))
neighborhood_dict

{'Near North Side': 0,
 'West Town': 1,
 'Lake View': 2,
 'Near West Side': 3,
 'Logan Square': 4,
 'Loop': 5,
 'Lincoln Park': 6,
 'Uptown': 7,
 'Near South Side': 8,
 'Lower West Side': 9,
 'Irving Park': 10,
 'Edgewater': 11,
 'Bridgeport': 12,
 'Avondale': 13,
 'Rogers Park': 14,
 'North Center': 15,
 'East Garfield Park': 16,
 'Grand Boulevard': 17,
 'Hyde Park': 18,
 'Lincoln Square': 19,
 'South Shore': 20,
 'Humboldt Park': 21,
 'West Ridge': 22,
 'Woodlawn': 23,
 'Portage Park': 24,
 'Douglas': 25,
 'Albany Park': 26,
 'Kenwood': 27,
 'Armour Square': 28,
 'Austin': 29,
 'Greater Grand Crossing': 30,
 'South Lawndale': 31,
 'Jefferson Park': 32,
 'Washington Park': 33,
 'North Lawndale': 34,
 'Mckinley Park': 35,
 'Norwood Park': 36,
 'Dunning': 37,
 'Calumet Heights': 38,
 'South Chicago': 39,
 'West Garfield Park': 40,
 'Belmont Cragin': 41,
 'Brighton Park': 42,
 'North Park': 43,
 'Hermosa': 44,
 'Englewood': 45,
 'New City': 46,
 'Oakland': 47,
 'Garfield Ridge': 48,
 'Chatham': 49,
 'Auburn Gresham': 50,
 'Ohare': 51,
 'Ashburn': 52,
 'Pullman': 53,
 'East Side': 54,
 'Forest Glen': 55,
 'Washington Heights': 56,
 'Roseland': 57,
 'West Englewood': 58,
 'Beverly': 59,
 'Morgan Park': 60,
 'West Lawn': 61,
 'Chicago Lawn': 62,
 'Montclare': 63,
 'West Pullman': 64,
 'Archer Heights': 65,
 'Mount Greenwood': 66,
 'Clearing': 67,
 'Hegewisch': 68,
 'Fuller Park': 69,
 'South Deering': 70,
 'Edison Park': 71,
 'Avalon Park': 72,
 'Burnside': 73,
 'Gage Park': 74,
 'West Elsdon': 75}

In [15]:
cleaning_df = airbnb_df
cleaning_df['neighbourhood_cleansed'] = cleaning_df['neighbourhood_cleansed'].apply(lambda x:neighborhood_dict[x])
cleaning_df.head()

,id,neighbourhood_cleansed,latitude,longitude,room_type,accommodates,bathrooms_text,bedrooms,beds,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm
0,2384,18,41.78790,-87.58780,Private room,1,1 shared bath,1.0,1.0,95.0,3,89,3,3,1125,1125,3.0,1125.0
1,7126,1,41.90166,-87.68021,Entire home/apt,2,1 bath,1.0,1.0,65.0,2,60,2,2,1125,1125,2.0,1125.0
2,10945,6,41.91196,-87.63981,Entire home/apt,4,1 bath,2.0,2.0,127.0,4,180,4,4,180,180,4.0,180.0
3,12140,6,41.92357,-87.64947,Private room,2,1 private bath,1.0,2.0,329.0,2,7,2,2,7,7,2.0,7.0
4,22362,1,41.89730,-87.65889,Entire home/apt,4,2 baths,2.0,2.0,105.0,121,1125,121,121,1125,1125,121.0,1125.0

In [16]:
# airbnb_df['bathrooms_text'] = airbnb_df['bathrooms_text'].str.replace(' shared bath', '')
cleaning_df['bathrooms_text'].value_counts()

1 bath               3296
2 baths               968
1 shared bath         738
1 private bath        451
2 shared baths        202
1.5 baths             187
2.5 baths             157
1.5 shared baths      108
3 baths               108
3.5 baths              66
4 baths                36
3 shared baths         33
2.5 shared baths       32
4 shared baths         19
4.5 baths              15
0 shared baths          9
0 baths                 5
6 baths                 5
11 shared baths         4
5 baths                 4
Private half-bath       3
Shared half-bath        3
7 baths                 2
Half-bath               2
11.5 shared baths       1
6.5 baths               1
8 shared baths          1
12.5 baths              1
Name: bathrooms_text, dtype: int64

In [17]:
cleaning_df['bathrooms_text'] = cleaning_df['bathrooms_text'].str.replace('-bath', '0.5')
cleaning_df['bathrooms_text'] = cleaning_df['bathrooms_text'].str.extract('(\d*\.\d+|\d+)', expand=False)
cleaning_df['bathrooms_text'] = cleaning_df['bathrooms_text'].astype(float)
cleaning_df = cleaning_df.dropna()

In [18]:
# working_df = pd.get_dummies(cleaning_df)
working_df = cleaning_df.drop(['price','id','latitude','longitude','minimum_minimum_nights','maximum_minimum_nights','minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm','maximum_nights_avg_ntm', 'minimum_nights', 'maximum_nights'], axis=1)
working_df

,neighbourhood_cleansed,room_type,accommodates,bathrooms_text,bedrooms,beds
0,18,Private room,1,1.0,1.0,1.0
1,1,Entire home/apt,2,1.0,1.0,1.0
2,6,Entire home/apt,4,1.0,2.0,2.0
3,6,Private room,2,1.0,1.0,2.0
4,1,Entire home/apt,4,2.0,2.0,2.0
...,...,...,...,...,...,...
6539,1,Entire home/apt,2,1.0,1.0,1.0
6540,1,Entire home/apt,6,1.0,3.0,3.0
6541,2,Entire home/apt,6,2.0,2.0,2.0
6542,2,Entire home/apt,6,2.0,2.0,2.0
6543,0,Entire home/apt,4,1.0,1.0,2.0

In [19]:
X = pd.get_dummies(working_df)
y = cleaning_df['price']
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5739 entries, 0 to 6543
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   neighbourhood_cleansed     5739 non-null   int32
 1   accommodates               5739 non-null   int64
 2   bathrooms_text             5739 non-null   float64
 3   bedrooms                   5739 non-null   float64
 4   beds                       5739 non-null   float64
 5   room_type_Entire home/apt  5739 non-null   uint8
 6   room_type_Hotel room       5739 non-null   uint8
 7   room_type_Private room     5739 non-null   uint8
 8   room_type_Shared room      5739 non-null   uint8
dtypes: float64(3), int32(1), int64(1), uint8(4)
memory usage: 269.0 KB

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
scaler = MinMaxScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [21]:
model = RandomForestRegressor(random_state=42, n_estimators=100, max_depth=3)

In [22]:
# Fit the model on training data
model.fit(X_train_scaled, y_train)
        
# Predict results
y_test_preds = model.predict(X_test_scaled) 

# Evaluate the result
rsquared_score = r2_score(y_test, y_test_preds)
print('R sequared = ', rsquared_score)

R sequared =  0.4702645502163091

In [23]:
number_input_features = 9 #len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation=None))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                800

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 3,261
Trainable params: 3,261
Non-trainable params: 0
_________________________________________________________________

In [24]:
nn.compile(loss="mean_absolute_error", optimizer="adam")

In [25]:
fit_model = nn.fit(X_train_scaled,y_train,epochs=100,validation_split=0.1)

Epoch 1/100
122/122 [==============================] - 1s 2ms/step - loss: 143.5433 - val_loss: 127.8897
Epoch 2/100
122/122 [==============================] - 0s 1ms/step - loss: 90.4762 - val_loss: 70.4217
Epoch 3/100
122/122 [==============================] - 0s 948us/step - loss: 64.6207 - val_loss: 65.1990
Epoch 4/100
122/122 [==============================] - 0s 940us/step - loss: 61.5141 - val_loss: 63.3334
Epoch 5/100
122/122 [==============================] - 0s 1ms/step - loss: 60.2608 - val_loss: 61.9589
Epoch 6/100
122/122 [==============================] - 0s 1ms/step - loss: 59.3565 - val_loss: 60.7780
Epoch 7/100
122/122 [==============================] - 0s 1ms/step - loss: 58.6537 - val_loss: 59.7777
Epoch 8/100
122/122 [==============================] - 0s 1ms/step - loss: 58.0925 - val_loss: 59.0510
Epoch 9/100
122/122 [==============================] - 0s 1ms/step - loss: 57.7127 - val_loss: 58.5257
Epoch 10/100
122/122 [==============================] - 0s 1ms/step - loss: 57.4515 - val_loss: 58.2414
Epoch 11/100
122/122 [==============================] - 0s 923us/step - loss: 57.2278 - val_loss: 57.9792
Epoch 12/100
122/122 [==============================] - 0s 1ms/step - loss: 57.1858 - val_loss: 57.8322
Epoch 13/100
122/122 [==============================] - 0s 1ms/step - loss: 57.1052 - val_loss: 57.6545
Epoch 14/100
122/122 [==============================] - 0s 1ms/step - loss: 56.9635 - val_loss: 57.6497
Epoch 15/100
122/122 [==============================] - 0s 1ms/step - loss: 56.9316 - val_loss: 57.4725
Epoch 16/100
122/122 [==============================] - 0s 1ms/step - loss: 56.8224 - val_loss: 57.5127
Epoch 17/100
122/122 [==============================] - 0s 1ms/step - loss: 56.7816 - val_loss: 57.5095
Epoch 18/100
122/122 [==============================] - 0s 997us/step - loss: 56.7451 - val_loss: 57.3271
Epoch 19/100
122/122 [==============================] - 0s 1ms/step - loss: 56.7017 - val_loss: 57.3316
Epoch 20/100
122/122 [==============================] - 0s 997us/step - loss: 56.6020 - val_loss: 57.3826
Epoch 21/100
122/122 [==============================] - 0s 1ms/step - loss: 56.6312 - val_loss: 57.2299
Epoch 22/100
122/122 [==============================] - 0s 1ms/step - loss: 56.5841 - val_loss: 57.2263
Epoch 23/100
122/122 [==============================] - 0s 1ms/step - loss: 56.5409 - val_loss: 57.1454
Epoch 24/100
122/122 [==============================] - 0s 1ms/step - loss: 56.4389 - val_loss: 56.9166
Epoch 25/100
122/122 [==============================] - 0s 1ms/step - loss: 56.4486 - val_loss: 56.9342
Epoch 26/100
122/122 [==============================] - 0s 1ms/step - loss: 56.5159 - val_loss: 56.9007
Epoch 27/100
122/122 [==============================] - 0s 1ms/step - loss: 56.3805 - val_loss: 56.8812
Epoch 28/100
122/122 [==============================] - 0s 1ms/step - loss: 56.3293 - val_loss: 56.9425
Epoch 29/100
122/122 [==============================] - 0s 1ms/step - loss: 56.2525 - val_loss: 57.1603
Epoch 30/100
122/122 [==============================] - 0s 1ms/step - loss: 56.2282 - val_loss: 56.6628
Epoch 31/100
122/122 [==============================] - 0s 1ms/step - loss: 56.2741 - val_loss: 56.8428
Epoch 32/100
122/122 [==============================] - 0s 1ms/step - loss: 56.1625 - val_loss: 56.5648
Epoch 33/100
122/122 [==============================] - 0s 1ms/step - loss: 56.2390 - val_loss: 56.8410
Epoch 34/100
122/122 [==============================] - 0s 1ms/step - loss: 56.1178 - val_loss: 56.5214
Epoch 35/100
122/122 [==============================] - 0s 907us/step - loss: 56.0168 - val_loss: 56.4274
Epoch 36/100
122/122 [==============================] - 0s 1ms/step - loss: 56.0469 - val_loss: 56.4537
Epoch 37/100
122/122 [==============================] - 0s 1ms/step - loss: 55.9853 - val_loss: 56.5472
Epoch 38/100
122/122 [==============================] - 0s 1ms/step - loss: 55.9800 - val_loss: 56.8330
Epoch 39/100
122/122 [==============================] - 0s 1ms/step - loss: 55.9415 - val_loss: 56.7323
Epoch 40/100
122/122 [==============================] - 0s 1ms/step - loss: 55.9432 - val_loss: 56.4516
Epoch 41/100
122/122 [==============================] - 0s 1ms/step - loss: 55.9023 - val_loss: 56.4054
Epoch 42/100
122/122 [==============================] - 0s 1ms/step - loss: 55.8921 - val_loss: 56.2363
Epoch 43/100
122/122 [==============================] - 0s 1ms/step - loss: 55.8600 - val_loss: 56.4596
Epoch 44/100
122/122 [==============================] - 0s 915us/step - loss: 55.7767 - val_loss: 56.3709
Epoch 45/100
122/122 [==============================] - 0s 1ms/step - loss: 55.7507 - val_loss: 56.1595
Epoch 46/100
122/122 [==============================] - 0s 1ms/step - loss: 55.7006 - val_loss: 56.1514
Epoch 47/100
122/122 [==============================] - 0s 1ms/step - loss: 55.7121 - val_loss: 56.1294
Epoch 48/100
122/122 [==============================] - 0s 1ms/step - loss: 55.6380 - val_loss: 56.0270
Epoch 49/100
122/122 [==============================] - 0s 1ms/step - loss: 55.6833 - val_loss: 56.2789
Epoch 50/100
122/122 [==============================] - 0s 1ms/step - loss: 55.6081 - val_loss: 56.0685
Epoch 51/100
122/122 [==============================] - 0s 1ms/step - loss: 55.5703 - val_loss: 56.2331
Epoch 52/100
122/122 [==============================] - 0s 1ms/step - loss: 55.5340 - val_loss: 56.4015
Epoch 53/100
122/122 [==============================] - 0s 1ms/step - loss: 55.5396 - val_loss: 56.0139
Epoch 54/100
122/122 [==============================] - 0s 1ms/step - loss: 55.5579 - val_loss: 55.9680
Epoch 55/100
122/122 [==============================] - 0s 1ms/step - loss: 55.4371 - val_loss: 56.0399
Epoch 56/100
122/122 [==============================] - 0s 1ms/step - loss: 55.4914 - val_loss: 56.3586
Epoch 57/100
122/122 [==============================] - 0s 1ms/step - loss: 55.5252 - val_loss: 56.2120
Epoch 58/100
122/122 [==============================] - 0s 931us/step - loss: 55.4678 - val_loss: 55.8369
Epoch 59/100
122/122 [==============================] - 0s 1ms/step - loss: 55.4587 - val_loss: 55.8735
Epoch 60/100
122/122 [==============================] - 0s 1ms/step - loss: 55.3574 - val_loss: 55.9218
Epoch 61/100
122/122 [==============================] - 0s 1ms/step - loss: 55.3020 - val_loss: 55.8688
Epoch 62/100
122/122 [==============================] - 0s 1ms/step - loss: 55.3333 - val_loss: 55.9047
Epoch 63/100
122/122 [==============================] - 0s 1ms/step - loss: 55.2894 - val_loss: 56.2585
Epoch 64/100
122/122 [==============================] - 0s 1ms/step - loss: 55.2489 - val_loss: 55.7386
Epoch 65/100
122/122 [==============================] - 0s 1ms/step - loss: 55.2132 - val_loss: 55.7709
Epoch 66/100
122/122 [==============================] - 0s 1ms/step - loss: 55.1909 - val_loss: 55.9240
Epoch 67/100
122/122 [==============================] - 0s 915us/step - loss: 55.1787 - val_loss: 55.6646
Epoch 68/100
122/122 [==============================] - 0s 1ms/step - loss: 55.1788 - val_loss: 55.8923
Epoch 69/100
122/122 [==============================] - 0s 1ms/step - loss: 55.1264 - val_loss: 55.9397
Epoch 70/100
122/122 [==============================] - 0s 1ms/step - loss: 55.0975 - val_loss: 55.5801
Epoch 71/100
122/122 [==============================] - 0s 1ms/step - loss: 55.0463 - val_loss: 55.5930
Epoch 72/100
122/122 [==============================] - 0s 1ms/step - loss: 55.0442 - val_loss: 55.6023
Epoch 73/100
122/122 [==============================] - 0s 1ms/step - loss: 55.0007 - val_loss: 55.5941
Epoch 74/100
122/122 [==============================] - 0s 1ms/step - loss: 54.9438 - val_loss: 55.7908
Epoch 75/100
122/122 [==============================] - 0s 1ms/step - loss: 54.8954 - val_loss: 55.8582
Epoch 76/100
122/122 [==============================] - 0s 1ms/step - loss: 54.9435 - val_loss: 55.5063
Epoch 77/100
122/122 [==============================] - 0s 1ms/step - loss: 54.8738 - val_loss: 55.4712
Epoch 78/100
122/122 [==============================] - 0s 1ms/step - loss: 54.8566 - val_loss: 55.5386
Epoch 79/100
122/122 [==============================] - 0s 1ms/step - loss: 54.8707 - val_loss: 55.2097
Epoch 80/100
122/122 [==============================] - 0s 1ms/step - loss: 54.8666 - val_loss: 55.2330
Epoch 81/100
122/122 [==============================] - 0s 915us/step - loss: 54.7551 - val_loss: 55.2135
Epoch 82/100
122/122 [==============================] - 0s 1ms/step - loss: 54.7221 - val_loss: 55.1527
Epoch 83/100
122/122 [==============================] - 0s 1ms/step - loss: 54.7396 - val_loss: 55.1760
Epoch 84/100
122/122 [==============================] - 0s 1ms/step - loss: 54.7201 - val_loss: 55.2402
Epoch 85/100
122/122 [==============================] - 0s 1ms/step - loss: 54.6645 - val_loss: 55.2849
Epoch 86/100
122/122 [==============================] - 0s 1ms/step - loss: 54.6540 - val_loss: 55.1994
Epoch 87/100
122/122 [==============================] - 0s 1ms/step - loss: 54.6130 - val_loss: 55.1456
Epoch 88/100
122/122 [==============================] - 0s 1ms/step - loss: 54.5416 - val_loss: 54.9666
Epoch 89/100
122/122 [==============================] - 0s 957us/step - loss: 54.6551 - val_loss: 55.1393
Epoch 90/100
122/122 [==============================] - 0s 993us/step - loss: 54.5729 - val_loss: 54.9174
Epoch 91/100
122/122 [==============================] - 0s 1ms/step - loss: 54.4896 - val_loss: 55.0802
Epoch 92/100
122/122 [==============================] - 0s 973us/step - loss: 54.5014 - val_loss: 54.9820
Epoch 93/100
122/122 [==============================] - 0s 1ms/step - loss: 54.4864 - val_loss: 54.9550
Epoch 94/100
122/122 [==============================] - 0s 1ms/step - loss: 54.4098 - val_loss: 54.9126
Epoch 95/100
122/122 [==============================] - 0s 1ms/step - loss: 54.4029 - val_loss: 55.0715
Epoch 96/100
122/122 [==============================] - 0s 1ms/step - loss: 54.3589 - val_loss: 54.8828
Epoch 97/100
122/122 [==============================] - 0s 1ms/step - loss: 54.3846 - val_loss: 55.2172
Epoch 98/100
122/122 [==============================] - 0s 972us/step - loss: 54.3598 - val_loss: 54.9557
Epoch 99/100
122/122 [==============================] - 0s 1ms/step - loss: 54.2877 - val_loss: 54.7571
Epoch 100/100
122/122 [==============================] - 0s 1ms/step - loss: 54.2625 - val_loss: 54.9684

In [135]:
# price_bins = [0.0, 49.0, 99.0, 149.0, 199.0, 249.0, 299.0, 
#               349.0, 399.0, 449.0, 499.0, 549.0, 
#               599.0, 649.0, 699.0, 749.0, 799.0,
#              849.0, 899.0, 949.0, 999.0, 1000.0]

# price_labels = ['0-49','50-99','100-149', '150-199', '200-249', '250-299', '300-349', '350-399','400-449', '450-499',
#              '500-549', '550-599', '600-649', '650-699', '700-749', '750-799', '800-849', '850-899', '900-949', '950-999', 
#              '1000+']

# price_bins = [0.0, 99.0, 199.0, 299.0,
#               399.0, 499.0, 599.0, 699.0, 799.0, 
#               899.0, 999.0, 1000.0]

# price_labels = ['0-99','100-199', '200-299', '300-399','400-499',
#              '500-599', '600-699','700-799', '800-899', '900-999', 
#              '1000+']

price_bins = [0.0, 49.0, 74.0, 99.0, 124.0, 149.0, 199.0, 299.0, 100000.0]

price_labels = ['0-49','50-74','75-99','100-124','125-149','150-199', '200-299', '300+']

In [137]:
class_airbnb_df = pd.read_csv('Chicago_Airbnb_Listing_Dataset.csv')
class_airbnb_df['price'] = class_airbnb_df['price'].str.replace('$', '')
class_airbnb_df['price'] = class_airbnb_df['price'].str.replace(',', '').astype(float)
class_airbnb_df['bathrooms_text'] = class_airbnb_df['bathrooms_text'].str.replace('-bath', '0.5')
class_airbnb_df['bathrooms_text'] = class_airbnb_df['bathrooms_text'].str.extract('(\d*\.\d+|\d+)', expand=False)
class_airbnb_df['bathrooms_text'] = class_airbnb_df['bathrooms_text'].astype(float)
class_airbnb_df["price_range"] = pd.cut(class_airbnb_df["price"], price_bins, labels=price_labels)

C:\Users\Rus\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [140]:
counts = class_airbnb_df["price_range"].value_counts()
counts

75-99      1055
150-199     902
50-74       890
100-124     864
0-49        814
200-299     723
125-149     667
300+        627
Name: price_range, dtype: int64

In [28]:
RFC_df = class_airbnb_df
RFC_df = RFC_df.dropna()
class_df = RFC_df.drop(['price','price_range','id','minimum_minimum_nights',
                           'maximum_minimum_nights', 'minimum_maximum_nights','maximum_maximum_nights',
                           'minimum_nights_avg_ntm','maximum_nights_avg_ntm', 'minimum_nights','maximum_nights'], axis=1)
X_class = pd.get_dummies(class_df)
# X_class['room_type']  = LabelEncoder().fit_transform(X_class['room_type'])
y_class = LabelEncoder().fit_transform(RFC_df['price_range'])

In [30]:
X_class.head()

,latitude,longitude,accommodates,bathrooms_text,bedrooms,beds,neighbourhood_cleansed_Albany Park,neighbourhood_cleansed_Archer Heights,neighbourhood_cleansed_Armour Square,neighbourhood_cleansed_Ashburn,...,neighbourhood_cleansed_West Garfield Park,neighbourhood_cleansed_West Lawn,neighbourhood_cleansed_West Pullman,neighbourhood_cleansed_West Ridge,neighbourhood_cleansed_West Town,neighbourhood_cleansed_Woodlawn,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,41.78790,-87.58780,1,1.0,1.0,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,41.90166,-87.68021,2,1.0,1.0,1.0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
2,41.91196,-87.63981,4,1.0,2.0,2.0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,41.92357,-87.64947,2,1.0,1.0,2.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,41.89730,-87.65889,4,2.0,2.0,2.0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0

In [31]:
# Split Data to test and train
X_train_class, X_test_class, y_train_class, y_test_class = train_test_split(X_class, y_class, random_state=1)

#Scale data
scaler = MinMaxScaler().fit(X_train_class)
X_train_scaled = scaler.transform(X_train_class)
X_test_scaled = scaler.transform(X_test_class)

In [32]:
clf = RandomForestClassifier(random_state=42, n_estimators=100, max_depth=3).fit(X_train_scaled, y_train_class)

In [33]:
print(f'Training Score: {clf.score(X_train_scaled, y_train_class)}')
print(f'Testing Score: {clf.score(X_test_scaled, y_test_class)}')

Training Score: 0.3499884872208151
Testing Score: 0.337707182320442

In [34]:
prediction = clf.predict([X_test_scaled[1]])
prediction

array([7])

In [35]:
print([X_test_scaled[1]])

[array([0.67185375, 0.49163557, 0.2       , 0.08      , 0.09090909,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       1.        , 0.        , 1.        , 0.        , 0.        ,
       0.        ])]

In [36]:
pred_val = prediction.tolist()

In [37]:
number_input_features_x = 86
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 30

nn_class = tf.keras.models.Sequential()

# First hidden layer
nn_class.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features_x, activation="relu"))

# Second hidden layer
nn_class.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

nn_class.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn_class.add(tf.keras.layers.Dense(units=8, activation='sigmoid'))

# Check the structure of the model
nn_class.summary()

nn_class.compile(loss="categorical_crossentropy", optimizer=tf.keras.optimizers.Adam(
    learning_rate=0.0001,
#     epsilon=1e-07,
    name='Adam'
), metrics=['accuracy'])

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                6960

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 30)                930

 dense_6 (Dense)             (None, 8)                 248

=================================================================
Total params: 10,568
Trainable params: 10,568
Non-trainable params: 0
_________________________________________________________________

In [38]:
y_reshape = y_train_class.reshape(-1,1)
y_reshape_test = y_test_class.reshape(-1,1)
y_nn_enc = OneHotEncoder().fit(y_reshape)
y_train_nn = y_nn_enc.transform(y_reshape).toarray()
y_test_nn = y_nn_enc.transform(y_reshape_test).toarray()

In [39]:
fit_class = nn_class.fit(X_train_scaled,y_train_nn,epochs=100,validation_split=0.1)

Epoch 1/100
123/123 [==============================] - 1s 2ms/step - loss: 2.0687 - accuracy: 0.1855 - val_loss: 2.0602 - val_accuracy: 0.2161
Epoch 2/100
123/123 [==============================] - 0s 1ms/step - loss: 2.0451 - accuracy: 0.2285 - val_loss: 2.0359 - val_accuracy: 0.2460
Epoch 3/100
123/123 [==============================] - 0s 1ms/step - loss: 2.0122 - accuracy: 0.2487 - val_loss: 2.0010 - val_accuracy: 0.2644
Epoch 4/100
123/123 [==============================] - 0s 1ms/step - loss: 1.9682 - accuracy: 0.2697 - val_loss: 1.9537 - val_accuracy: 0.2736
Epoch 5/100
123/123 [==============================] - 0s 1ms/step - loss: 1.9184 - accuracy: 0.2789 - val_loss: 1.9047 - val_accuracy: 0.2759
Epoch 6/100
123/123 [==============================] - 0s 1ms/step - loss: 1.8739 - accuracy: 0.2843 - val_loss: 1.8640 - val_accuracy: 0.2989
Epoch 7/100
123/123 [==============================] - 0s 1ms/step - loss: 1.8370 - accuracy: 0.3017 - val_loss: 1.8333 - val_accuracy: 0.3034
Epoch 8/100
123/123 [==============================] - 0s 1ms/step - loss: 1.8062 - accuracy: 0.3055 - val_loss: 1.8058 - val_accuracy: 0.3264
Epoch 9/100
123/123 [==============================] - 0s 1ms/step - loss: 1.7775 - accuracy: 0.3158 - val_loss: 1.7794 - val_accuracy: 0.3310
Epoch 10/100
123/123 [==============================] - 0s 1ms/step - loss: 1.7514 - accuracy: 0.3268 - val_loss: 1.7553 - val_accuracy: 0.3471
Epoch 11/100
123/123 [==============================] - 0s 1ms/step - loss: 1.7266 - accuracy: 0.3291 - val_loss: 1.7287 - val_accuracy: 0.3425
Epoch 12/100
123/123 [==============================] - 0s 1ms/step - loss: 1.7037 - accuracy: 0.3334 - val_loss: 1.7038 - val_accuracy: 0.3425
Epoch 13/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6826 - accuracy: 0.3301 - val_loss: 1.6872 - val_accuracy: 0.3494
Epoch 14/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6646 - accuracy: 0.3360 - val_loss: 1.6669 - val_accuracy: 0.3586
Epoch 15/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6487 - accuracy: 0.3457 - val_loss: 1.6494 - val_accuracy: 0.3655
Epoch 16/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6349 - accuracy: 0.3508 - val_loss: 1.6367 - val_accuracy: 0.3655
Epoch 17/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6237 - accuracy: 0.3495 - val_loss: 1.6249 - val_accuracy: 0.3586
Epoch 18/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6143 - accuracy: 0.3472 - val_loss: 1.6130 - val_accuracy: 0.3655
Epoch 19/100
123/123 [==============================] - 0s 1ms/step - loss: 1.6064 - accuracy: 0.3495 - val_loss: 1.6054 - val_accuracy: 0.3747
Epoch 20/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5995 - accuracy: 0.3526 - val_loss: 1.5966 - val_accuracy: 0.3678
Epoch 21/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5932 - accuracy: 0.3529 - val_loss: 1.5907 - val_accuracy: 0.3655
Epoch 22/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5874 - accuracy: 0.3516 - val_loss: 1.5826 - val_accuracy: 0.3747
Epoch 23/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5830 - accuracy: 0.3552 - val_loss: 1.5761 - val_accuracy: 0.3724
Epoch 24/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5793 - accuracy: 0.3567 - val_loss: 1.5741 - val_accuracy: 0.3655
Epoch 25/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5755 - accuracy: 0.3559 - val_loss: 1.5681 - val_accuracy: 0.3770
Epoch 26/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5722 - accuracy: 0.3524 - val_loss: 1.5676 - val_accuracy: 0.3793
Epoch 27/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5688 - accuracy: 0.3616 - val_loss: 1.5621 - val_accuracy: 0.3862
Epoch 28/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5665 - accuracy: 0.3575 - val_loss: 1.5603 - val_accuracy: 0.3793
Epoch 29/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5641 - accuracy: 0.3585 - val_loss: 1.5579 - val_accuracy: 0.3839
Epoch 30/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5617 - accuracy: 0.3567 - val_loss: 1.5522 - val_accuracy: 0.3862
Epoch 31/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5598 - accuracy: 0.3562 - val_loss: 1.5518 - val_accuracy: 0.3862
Epoch 32/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5576 - accuracy: 0.3593 - val_loss: 1.5477 - val_accuracy: 0.3839
Epoch 33/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5557 - accuracy: 0.3590 - val_loss: 1.5454 - val_accuracy: 0.3839
Epoch 34/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5537 - accuracy: 0.3590 - val_loss: 1.5469 - val_accuracy: 0.3862
Epoch 35/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5522 - accuracy: 0.3600 - val_loss: 1.5445 - val_accuracy: 0.3885
Epoch 36/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5508 - accuracy: 0.3585 - val_loss: 1.5418 - val_accuracy: 0.3862
Epoch 37/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5489 - accuracy: 0.3621 - val_loss: 1.5402 - val_accuracy: 0.3885
Epoch 38/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5473 - accuracy: 0.3613 - val_loss: 1.5392 - val_accuracy: 0.3862
Epoch 39/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5461 - accuracy: 0.3623 - val_loss: 1.5377 - val_accuracy: 0.3862
Epoch 40/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5444 - accuracy: 0.3634 - val_loss: 1.5379 - val_accuracy: 0.4000
Epoch 41/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5435 - accuracy: 0.3677 - val_loss: 1.5340 - val_accuracy: 0.3931
Epoch 42/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5419 - accuracy: 0.3631 - val_loss: 1.5315 - val_accuracy: 0.3885
Epoch 43/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5404 - accuracy: 0.3685 - val_loss: 1.5320 - val_accuracy: 0.3931
Epoch 44/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5391 - accuracy: 0.3662 - val_loss: 1.5318 - val_accuracy: 0.4000
Epoch 45/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5380 - accuracy: 0.3664 - val_loss: 1.5288 - val_accuracy: 0.3931
Epoch 46/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5370 - accuracy: 0.3695 - val_loss: 1.5284 - val_accuracy: 0.4000
Epoch 47/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5359 - accuracy: 0.3680 - val_loss: 1.5289 - val_accuracy: 0.4000
Epoch 48/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5343 - accuracy: 0.3685 - val_loss: 1.5276 - val_accuracy: 0.3954
Epoch 49/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5337 - accuracy: 0.3677 - val_loss: 1.5281 - val_accuracy: 0.3954
Epoch 50/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5326 - accuracy: 0.3723 - val_loss: 1.5253 - val_accuracy: 0.3931
Epoch 51/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5312 - accuracy: 0.3721 - val_loss: 1.5267 - val_accuracy: 0.3977
Epoch 52/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5303 - accuracy: 0.3746 - val_loss: 1.5270 - val_accuracy: 0.3908
Epoch 53/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5296 - accuracy: 0.3731 - val_loss: 1.5246 - val_accuracy: 0.3885
Epoch 54/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5287 - accuracy: 0.3746 - val_loss: 1.5244 - val_accuracy: 0.3954
Epoch 55/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5277 - accuracy: 0.3733 - val_loss: 1.5232 - val_accuracy: 0.4000
Epoch 56/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5264 - accuracy: 0.3785 - val_loss: 1.5231 - val_accuracy: 0.3954
Epoch 57/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5262 - accuracy: 0.3741 - val_loss: 1.5212 - val_accuracy: 0.4023

Epoch 58/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5252 - accuracy: 0.3767 - val_loss: 1.5217 - val_accuracy: 0.4023
Epoch 59/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5245 - accuracy: 0.3759 - val_loss: 1.5218 - val_accuracy: 0.4023
Epoch 60/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5235 - accuracy: 0.3790 - val_loss: 1.5199 - val_accuracy: 0.4023
Epoch 61/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5219 - accuracy: 0.3782 - val_loss: 1.5191 - val_accuracy: 0.4069
Epoch 62/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5210 - accuracy: 0.3787 - val_loss: 1.5203 - val_accuracy: 0.4069
Epoch 63/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5202 - accuracy: 0.3841 - val_loss: 1.5192 - val_accuracy: 0.4138
Epoch 64/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5200 - accuracy: 0.3802 - val_loss: 1.5178 - val_accuracy: 0.4046
Epoch 65/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5188 - accuracy: 0.3810 - val_loss: 1.5181 - val_accuracy: 0.4046
Epoch 66/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5181 - accuracy: 0.3808 - val_loss: 1.5167 - val_accuracy: 0.4092
Epoch 67/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5167 - accuracy: 0.3872 - val_loss: 1.5175 - val_accuracy: 0.4046
Epoch 68/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5164 - accuracy: 0.3823 - val_loss: 1.5151 - val_accuracy: 0.4092
Epoch 69/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5158 - accuracy: 0.3800 - val_loss: 1.5148 - val_accuracy: 0.4092
Epoch 70/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5150 - accuracy: 0.3846 - val_loss: 1.5128 - val_accuracy: 0.4115
Epoch 71/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5143 - accuracy: 0.3805 - val_loss: 1.5146 - val_accuracy: 0.4115
Epoch 72/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5130 - accuracy: 0.3820 - val_loss: 1.5098 - val_accuracy: 0.4138
Epoch 73/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5120 - accuracy: 0.3815 - val_loss: 1.5129 - val_accuracy: 0.4092
Epoch 74/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5117 - accuracy: 0.3795 - val_loss: 1.5110 - val_accuracy: 0.4092
Epoch 75/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5104 - accuracy: 0.3815 - val_loss: 1.5124 - val_accuracy: 0.4184
Epoch 76/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5100 - accuracy: 0.3897 - val_loss: 1.5122 - val_accuracy: 0.4138
Epoch 77/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5092 - accuracy: 0.3800 - val_loss: 1.5114 - val_accuracy: 0.4115
Epoch 78/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5090 - accuracy: 0.3879 - val_loss: 1.5090 - val_accuracy: 0.4046
Epoch 79/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5080 - accuracy: 0.3823 - val_loss: 1.5091 - val_accuracy: 0.4138
Epoch 80/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5075 - accuracy: 0.3854 - val_loss: 1.5107 - val_accuracy: 0.4092
Epoch 81/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5062 - accuracy: 0.3856 - val_loss: 1.5104 - val_accuracy: 0.4115
Epoch 82/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5063 - accuracy: 0.3843 - val_loss: 1.5096 - val_accuracy: 0.4138
Epoch 83/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5053 - accuracy: 0.3874 - val_loss: 1.5076 - val_accuracy: 0.4207
Epoch 84/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5045 - accuracy: 0.3859 - val_loss: 1.5101 - val_accuracy: 0.4092
Epoch 85/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5036 - accuracy: 0.3849 - val_loss: 1.5085 - val_accuracy: 0.4184
Epoch 86/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5031 - accuracy: 0.3887 - val_loss: 1.5078 - val_accuracy: 0.4069
Epoch 87/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5022 - accuracy: 0.3882 - val_loss: 1.5072 - val_accuracy: 0.4230
Epoch 88/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5017 - accuracy: 0.3859 - val_loss: 1.5053 - val_accuracy: 0.4184
Epoch 89/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5008 - accuracy: 0.3874 - val_loss: 1.5062 - val_accuracy: 0.4161
Epoch 90/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5007 - accuracy: 0.3946 - val_loss: 1.5085 - val_accuracy: 0.4115
Epoch 91/100
123/123 [==============================] - 0s 1ms/step - loss: 1.5000 - accuracy: 0.3877 - val_loss: 1.5048 - val_accuracy: 0.4161
Epoch 92/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4992 - accuracy: 0.3874 - val_loss: 1.5071 - val_accuracy: 0.4230
Epoch 93/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4990 - accuracy: 0.3879 - val_loss: 1.5046 - val_accuracy: 0.4184
Epoch 94/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4984 - accuracy: 0.3884 - val_loss: 1.5055 - val_accuracy: 0.4138
Epoch 95/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4976 - accuracy: 0.3930 - val_loss: 1.5075 - val_accuracy: 0.4092
Epoch 96/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4970 - accuracy: 0.3905 - val_loss: 1.5051 - val_accuracy: 0.4184
Epoch 97/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4962 - accuracy: 0.3905 - val_loss: 1.5064 - val_accuracy: 0.4115
Epoch 98/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4958 - accuracy: 0.3872 - val_loss: 1.5058 - val_accuracy: 0.4138
Epoch 99/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4950 - accuracy: 0.3910 - val_loss: 1.5042 - val_accuracy: 0.4138
Epoch 100/100
123/123 [==============================] - 0s 1ms/step - loss: 1.4950 - accuracy: 0.3930 - val_loss: 1.5080 - val_accuracy: 0.4069

In [40]:
nn_class.evaluate(x=X_test_scaled,y=y_test_nn)

46/46 [==============================] - 0s 931us/step - loss: 1.5717 - accuracy: 0.3681

[1.5717179775238037, 0.36809390783309937]

In [50]:

pickle_out = open("RFC_Model","wb")
pickle.dump(clf, pickle_out)
pickle_out.close()

In [51]:
new_RF = pickle.load(open("RFC_Model","rb"))

In [52]:
new_RF.score(X_test_scaled, y_test_class)

0.337707182320442

In [53]:
nn_class.save("NN_TF_Model.h5")

In [54]:
new_model = tf.keras.models.load_model("NN_TF_Model.h5")

In [55]:
new_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                6960

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 30)                930

 dense_6 (Dense)             (None, 8)                 248

=================================================================
Total params: 10,568
Trainable params: 10,568
Non-trainable params: 0
_________________________________________________________________

In [56]:
new_model.evaluate(x=X_test_scaled,y=y_test_nn)

46/46 [==============================] - 0s 831us/step - loss: 1.5717 - accuracy: 0.3681

[1.5717179775238037, 0.36809390783309937]

In [6]:
def clean_listings(df):
    
    # Convert price type from string to float and remove $ sign and commas
    df['price'] = df['price'].str.replace('$', '')
    df['price'] = df['price'].str.replace(',', '').astype(float)
    df.drop(df[df.price > 1000].index, inplace=True)

    #Convert neighborhood name to a numerical number
    neighbourhoods = airbnb_df['neighbourhood_cleansed'].value_counts()
    neighborhood_dict = dict(zip(neighbourhoods.index,np.arange(len(neighbourhoods.index))))
    df['neighbourhood_cleansed'] = df['neighbourhood_cleansed'].apply(lambda x:neighborhood_dict[x])

    price_bins = [0.0, 49.0, 74.0, 99.0, 124.0, 149.0, 199.0, 299.0, 100000.0]
    price_labels = ['0-49','50-74','75-99','100-124','125-149','150-199', '200-299', '300+']
     
    #Convert Bathrooms from String to Float
    df['bathrooms_text'] = df['bathrooms_text'].str.replace('-bath', '0.5')
    df['bathrooms_text'] = df['bathrooms_text'].str.extract('(\d*\.\d+|\d+)', expand=False)
    df['bathrooms_text'] = df['bathrooms_text'].astype(float)    
    df["price_range"] = pd.cut(df["price"], price_bins, labels=price_labels)
    df.dropna()


    # Drop row that are not needed
    df.drop(['id','latitude','longitude','minimum_minimum_nights','maximum_minimum_nights',
            'minimum_maximum_nights','maximum_maximum_nights','minimum_nights_avg_ntm',
            'maximum_nights_avg_ntm', 'minimum_nights', 'maximum_nights'], axis=1, inplace=True)
    return df

test_df = clean_listings(original_df.copy())
test_df.head()

C:\Users\Rus\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

,neighbourhood_cleansed,room_type,accommodates,bathrooms_text,bedrooms,beds,price,price_range
0,18,Private room,1,1.0,1.0,1.0,95.0,75-99
1,1,Entire home/apt,2,1.0,1.0,1.0,65.0,50-74
2,6,Entire home/apt,4,1.0,2.0,2.0,127.0,125-149
3,6,Private room,2,1.0,1.0,2.0,329.0,300+
4,1,Entire home/apt,4,2.0,2.0,2.0,105.0,100-124